.containerAddCategoria {
    width: 96;
    margin: 2% 2%;
  }
  .titlteAddCategoria {
    color: #666666;
    font-weight: bold;
  }
  .containerFormAddCategoria {
    display: grid;
    grid-template-columns: minmax(200px, 50%);
    grid-template-rows: repeat(2, auto);
    gap: 2%;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 5px;
    color: #666666;
  }
  ::ng-deep .mat-focused .mat-form-field-outline {
    /*change color of label*/
    color: #f29038 !important;
  }
  .inputFormAddProduct {
    width: 100%;
  }
  .iconSuccessBtn {
    font-size: 30px;
  }
  
  ::ng-deep .success-snackbar {
    background-color: #5cb85c !important;
    color: white !important;
  }
  ::ng-deep .success-snackbar .mat-button-wrapper {
    color: white !important;
  }
  .btnFormProducto {
    width: 100%;
    background-color: #f29038;
    color: white;
    display: grid;
    place-items: center;
  }
  .iconSuccessBtn {
    font-size: 28px;
    margin-bottom: 5px;
  }
  
  .containerBtnEdit {
    margin-top: 5%;
    display: grid;
    grid-template-columns: minmax(50px, 30%) 1fr;
    gap: 2%;
  }
  
  .subirIMG {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .notInput {
    width: 100%;
  }
  .userImg {
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
    background-color: white;
  }
  @media (max-width: 810px) {
    .containerFormAddCategoria {
      display: grid;
      grid-template-columns: minmax(200px, 70%);
      grid-template-rows: repeat(2, auto);
      gap: 2%;
    }
   
  }
  @media (max-width: 650px) {
    .containerFormAddCategoria {
      display: grid;
      grid-template-columns: minmax(200px, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 2%;
    }
    
  }
  @media (max-width: 450px) {
  
    .containerBtnEdit {
      margin-top: 5%;
      display: flex;
      flex-direction: column-reverse;
  
    }
    .deletebtn{
      margin-top: 15%;
      
    }
  
  }
  