<div class="containerAddCategoria">
    <h1 class="titlteAddCategoria">Añadir Unidad de Medida <ng-container *ngIf="!load">{{newUnidadMedida.id}}</ng-container>
    </h1>
    <mat-progress-bar class="progress-productos" mode="indeterminate" *ngIf="load"></mat-progress-bar>
    <form *ngIf="!load" class="containerFormAddCategoria" (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div>
            <label for="">Nombre</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="nombre" [(ngModel)]="newUnidadMedida.nombre"
                    placeholder="Ejemplo: gr." required maxlength="256" />
                <mat-error *ngIf="myForm.get('nombre').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('nombre').hasError('whitespace')">
                    Nombre <strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label for="">Nombre en Singular</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="singular" [(ngModel)]="newUnidadMedida.singular"
                    placeholder="Ejemplo: gramo" required maxlength="256" />
                <mat-error *ngIf="myForm.get('singular').hasError('required')">
                    Nombre en Singular es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('singular').hasError('whitespace')">
                    Nombre en Singular<strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label for="">Nombre en Plural</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="plural" [(ngModel)]="newUnidadMedida.plural"
                    placeholder="Ejemplo: gramos" required maxlength="256" />
                <mat-error *ngIf="myForm.get('plural').hasError('required')">
                    Nombre es en Plural<strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('plural').hasError('whitespace')">
                    Nombre en Plural<strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>


        <div class="containerBtnEdit">
            <button mat-flat-button (click)="openDialog()" class="deletebtn" color='warn' [disabled]="btnState.disableBtn">
                <mat-icon class="iconSuccessBtn">delete_forever
                </mat-icon>&nbsp;&nbsp;
                Eliminar
            </button>
            <button mat-raised-button (click)="editForm()" class="btnFormProducto"
                style="background-color: #5cb85c !important;" *ngIf="!edit">
                <mat-icon class="iconSuccessBtn">edit
                </mat-icon>&nbsp;&nbsp;
                Editar Unidad de Medida
            </button>
            <button mat-raised-button type="submit" class="btnFormProducto" [disabled]="btnState.disableBtn"
                *ngIf="edit">
                <ng-container *ngIf="btnState.normal">
                    <mat-icon class="iconSuccessBtn">save
                    </mat-icon>&nbsp;&nbsp;
                    Guardar Cambios
                </ng-container>
                <mat-spinner *ngIf="btnState.loader" color="warn" diameter="30"></mat-spinner>
                <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="warn">done
                </mat-icon>
            </button>
        </div>
    </form>
</div>