.detailTotalContainerHome {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  border: 1.2px solid #f29038;
  background-color: #f29038;
  width: 500px;
}
.totalHome:hover .titleContainerTotalHome {
  background-color: #30c722;
}
.colorTotalHome {
  user-select: none;
  width: 100%;
  display: grid;
  place-items: center;
  color: whitesmoke;
  font-size: 1.8em;
  cursor: pointer;
  transition: 0.1s;
}
.colorTotalHome:hover {
  background-color: #30c722;
  font-size: 2em;
}
.colorTotalHome:active {
  background-color: #30c722;
  font-size: 1.8em;
}

.resultadoproductoContianer {
  width: 100%;
  background-color: whitesmoke;
}

.resultadoproducto {
  position: relative;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 2%;
  width: 96%;
  font-size: 1.2rem;
}
.resultadoproducto:nth-child(even) {
  background: white;
}
.resultadoproducto:nth-child(1) {
  font-weight: bold;
  // text-align: center;
}
.resultadoproducto .titulo {
  text-align: left;
}
.totalproducto {
  text-align: right;
  font-weight: bold;
  font-size: 1.1rem;
  background: none;
  padding: 0.3rem;
  padding-right: 5%;
  border-top: 1px solid var(--salamanto--color--border);

}
.titleContainerTotalHome {
  padding: 2% 5%;
  text-align: right;
  background-color: #c7c7c7;
}

.titleContainerTotalHome h3 {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
  font-size: 1.3rem !important;
  display: inline-block;
  margin: 0;
}
.titleContainerTotalHome h4 {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
  font-size: 1.3rem !important;
  display: inline-block;
  margin: 0;
  font-weight: bold;
}
@media (max-width: 650px) {
  .detailTotalContainerHome{
    width: 100%;
  }
  .resultadoproducto {
    grid-template-columns: 80px 1fr 80px;
    width: 82vw;
    font-size: 1.2em;
  }
  .totalproducto {
    padding-right: 12em;
    width: 80vw;

  }
  .detailTotalContainerHome {
    grid-template-columns: 60px 1fr;
  }
}
