<div class="detailTotalContainerHome" *ngIf="open">
    <div class="colorTotalHome" (click)="cerrarDetalles()"><span class="material-icons">
        expand_more
        </span></div>
    <div class="resultadoproductoContianer">
        <div class="resultadoproducto">
            <div class="cantidad">Cantidad</div>
            <div class="titulo">Producto</div>
            <div class="precio">Precio</div>
        </div>
        <div class="resultadoproducto" *ngFor="let producto of _sProductoPedido.productosCard">
            <div class="cantidad">{{producto.cantidad}} x {{producto.unidad}}</div>
            <div class="titulo">{{producto.nombre}}</div>
            <div class="precio"> S/ {{producto.total}}</div>
        </div>
        <!-- Precio del Delivery -->
        <div class="resultadoproducto" >
            <div class="cantidad">1</div>
            <div class="titulo">Delivery <ng-container *ngIf="distrito">a {{distrito}}</ng-container>
            </div>
            <div class="precio"> S/ {{precioDelivery || '0.00'}}</div>
        </div>
        <div class="titleContainerTotalHome">
            <h4>Total:</h4>
            <h3>S/{{total}}</h3>
        </div>
    </div>
</div>