.containerAddCategoria {
    width: 96;
    margin: 2% 2%;
  }
  .titlteAddCategoria {
    color: #666666;
    font-weight: bold;
  }
  .containerFormAddCategoria {
    display: grid;
    grid-template-columns: minmax(200px, 40%);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 5px;
    color: #666666;
  }
  ::ng-deep .mat-focused .mat-form-field-outline {
    /*change color of label*/
    color: #f29038 !important;
  }
  .inputFormAddProduct {
    width: 100%;
  }
  .btnFormProducto{
      width: 100%;
      display: grid;
      place-items: center;
      height: 53px;
      background-color: #f29038;
      margin-top: 3%;
      color: white;
      display: grid;
      place-items: center;
      font-size: 1.2rem;
    }
    .iconSuccessBtn{
      font-size: 30px;
    }
    
    ::ng-deep .success-snackbar{
      background-color: #5CB85C !important;
      color: white !important;
    }
    ::ng-deep .success-snackbar .mat-button-wrapper{
      color: white !important;
    }
    
    
    .subirIMG{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .notInput{
      width: 100%;
    }
    .userImg{
      width: 100%;
      height: 300px;
      object-position: center;
      object-fit: cover;
      background-color: white;
    }
    @media (max-width: 650px) {
    
      .containerFormAddCategoria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 2%;
      }
      .subirIMG{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .notInput{
        width: 100%;
        margin-right: 0%;
      }
      .userImg{
        width: 100%;
        height: 300px;
        object-position: center;
        object-fit: cover;
        background-color: white;
      }
    }