<div class="containerAddCategoria">
    <h1 class="titlteAddCategoria">Añadir Unidad de Medida</h1>
    <form class="containerFormAddCategoria" (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <!-- Nombre de la Unidad de Medida -->
        <div>
            <label for="">Nombre</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="nombre" [(ngModel)]="newUnidadMedida.nombre"
                    placeholder="Ejemplo: gr." required maxlength="256" />
                <mat-error *ngIf="myForm.get('nombre').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('nombre').hasError('whitespace')">
                    Nombre <strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label for="">Nombre en Singular</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="singular" [(ngModel)]="newUnidadMedida.singular"
                    placeholder="Ejemplo: gramo" required maxlength="256" />
                <mat-error *ngIf="myForm.get('singular').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('singular').hasError('whitespace')">
                    Nombre <strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div>
            <label for="">Nombre en Plural</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="plural" [(ngModel)]="newUnidadMedida.plural"
                    placeholder="Ejemplo: gramos" required maxlength="256" />
                <mat-error *ngIf="myForm.get('plural').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('plural').hasError('whitespace')">
                    Nombre <strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>



        <button mat-raised-button type="submit" class="btnFormProducto" [disabled]="btnState.disableBtn">
            <ng-container *ngIf="btnState.normal">Registrar Unidad de Medida +</ng-container>
            <mat-spinner *ngIf="btnState.loader" color="warn" diameter="30"></mat-spinner>
            <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="warn">done
            </mat-icon>
        </button>
    </form>
</div>