.footerHomeContainer{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #f29038;
    padding: 1rem 0;
    margin-top: 4rem;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
}
.footerHomeContainer p,
.footerHomeContainer a{
    color:white;
    font-size: 1rem;
}
@media (max-width:600px){
    // .footerHomeContainer{
    //     justify-content: center;
    // }
}
