.containerProductosComponent {
  width: 96;
  margin: 0 2%;
}
.titleContainerProductos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleContainerProductos h1 {
  color: #666666;
  font-weight: bold;
  margin-right: 3rem;
}
.iconSearch {
  color: #f29038 !important;
  font-weight: bold;
  font-size: 25px;
}
.buscardorProducto {
  width: 400px !important;
}
//barra de carga
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f29038;
}

::ng-deep .mat-progress-bar-buffer {
  background: #ffc28e;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

//Tabla
.tableProductos {
  width: 100%;
}
.thTableProductos {
  color: white;
  background-color: #888888;
}
tr:nth-child(even) {
  background-color: #eaeaea;
}
tr:hover {
  background-color: rgb(207, 207, 207);
}
//mas estilos tabla
.nombreTablaProductos {
  text-decoration: underline;
}
.nombreTablaProductos a {
  color: #ff7700 !important;
  text-decoration: underline #fa8722;
  cursor: pointer;
}
::ng-deep .mat-sort-header-arrow {
  color: white !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 5px;
  color: #666666;
}
::ng-deep .mat-focused .mat-form-field-outline {
  /*change color of label*/
  color: #f29038 !important;
}

.btnAddProducto {
  background-color: #f29038;
  margin-top: 3%;
  color: white;
}

::ng-deep .success-snackbar {
  background-color: #5cb85c !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper {
  color: white !important;
}