<div class="containerProductosComponent">


    <div class="titleContainerProductos">
        <h1>Productos</h1>
        <mat-form-field *ngIf="!load" appearance="outline" class="buscardorProducto">
            <mat-label>Buscar Producto</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="ID, Nombre, Categoria ...">
            <mat-icon matSuffix class="iconSearch">search</mat-icon>
        </mat-form-field>
    </div>


    <mat-progress-bar class="progress-productos" mode="indeterminate" *ngIf="load"></mat-progress-bar>
    <div class="containerTable" *ngIf="!load">
        <table class="tableProductos" mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th class="thTableProductos" id="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td #id mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>


            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td class="nombreTablaProductos" mat-cell *matCellDef="let row"><a
                        [routerLink]="['/productos/detallesProducto',row.id]">{{row.nombre}}</a>
                </td>
            </ng-container>

            <!-- Categoria Column -->
            <ng-container matColumnDef="categoria">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Categoría </th>
                <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
            </ng-container>

            <!-- Unidad Column -->
            <ng-container matColumnDef="unidad">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
                <td mat-cell *matCellDef="let row"> {{row.unidad}} </td>
            </ng-container>

            <!-- descripcion Column -->
            <ng-container matColumnDef="descripcion">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
            </ng-container>

            <!-- costo Column -->
            <ng-container matColumnDef="costo">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
                <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
            </ng-container>

            <!-- precio Column -->
            <ng-container matColumnDef="precio">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                <td mat-cell *matCellDef="let row"> S/{{row.precio}} </td>
            </ng-container>

            <!-- stock Column -->
            <ng-container matColumnDef="stock">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
            </ng-container>

            <!-- activado Column -->
            <ng-container matColumnDef="activado">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Activado </th>
                <td mat-cell *matCellDef="let row">
                    <mat-slide-toggle [(ngModel)]="row.activado" [disabled]="row.toggleDisable"
                        (change)="toggle(row,true )"></mat-slide-toggle>
                </td>
            </ng-container>

            <!-- desceuento Column -->
            <ng-container matColumnDef="descuento">
                <th class="thTableProductos" mat-header-cell *matHeaderCellDef mat-sort-header> Descuento </th>
                <td mat-cell *matCellDef="let row">
                    <mat-slide-toggle [(ngModel)]="row.descuento" [disabled]="row.toggleDisable"
                        (change)="toggle(row, false)"></mat-slide-toggle>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10,25,50,100]"></mat-paginator>

    </div>

    <a class="btnAddProducto" [routerLink]="['/productos/nuevoProducto']" mat-raised-button>Añadir Producto +</a>

</div>