.containerDetailsPedidos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    max-height: 600px;
    overflow-y: auto;
    margin: 2% 0 2% 2%;
}
.map{
    width: 100%;
    height: 400px;
    min-height: 400px;
}
.detailsContainer{
    display: flex;
    flex-direction: column;
    padding-right: 3%;
}
.observacionContainer{
    background-color: rgba(192, 192, 192, 0.623);
    border-radius: 4px;
    padding: 2%;
    margin-bottom: 3%;
}

.productoDetails{
    display: grid;
    grid-template-columns: 30px 1fr 20%;
    font-size: 17px;
    margin: 2% 0;
    border-bottom: 1px black solid;
}
.total{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
}
.footerPedidos{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 17px; 
}
.relleno{
    flex: 1 1 auto;
}
.Pendiente{
    color: brown !important;
}
.Realizado{
    color: teal !important;
}