<div class="containerDetailsPedidos">

    <agm-map class="map" [latitude]="+data.cl_lat" [longitude]="+data.cl_lon" [zoom]="15">
        <agm-marker [markerDraggable]="false" [latitude]="+data.cl_lat" [longitude]="+data.cl_lon"></agm-marker>
    </agm-map>
    <div class="detailsContainer">
        <h1>{{data.cl_nombre}}</h1>
        <h3>{{data.cl_direccion}} -
            <strong>{{data.cl_distrito}}</strong><br>{{data.cl_referencia?data.cl_referencia:'Sin Referencia'}} </h3>
        <a [href]="wspCliente" target="_blank" style="color: #26D367;">+51 {{data.cl_telefono}} </a>

        <div class="observacionContainer">
            <span>{{data.observacion?data.observacion:'Sin Observación'}}</span>
        </div>

        <div class="productoDetails" *ngFor="let product of data.productos_pedidos">
            <span>{{product.cantidad}} x </span>
            <span>{{product.nombre}} </span>
            <span style="text-align: right;"> S/{{product.total}} </span>
        </div>
        <div class="productoDetails">
            <span>1 x </span>
            <span>Delivery a {{data.cl_distrito}} </span>
            <span style="text-align: right;"> S/{{deliveryDistrito}} </span>
        </div>
        <div class="total">
            <span><strong>TOTAL</strong></span>
            <span>S/{{data.pagoTotal}}</span>
        </div>
        <div class="relleno"></div>
        <div class="footerPedidos">
            <div class="estado">
                <span>Estado:</span><br>
                <span [class]="data.pedido_realizado==0?'Pendiente':'Realizado'">
                    <strong>

                        {{data.pedido_realizado==0?'Pendiente':'Realizado'}}
                    </strong>
                </span>
            </div>
            <button mat-stroked-button color='accent' mat-dialog-close>Cerrar</button>
        </div>
    </div>

</div>