.generalContainer {
  width: clamp(300px, 70%, 750px);
  margin: 3%;
}
h1,
label {
  color: #666666;
}
mat-form-field {
  width: 100%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 5px;
  color: #666666;
}

//barra de carga
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f29038;
}
::ng-deep .mat-progress-bar-buffer {
  background: #ffc28e;
}
::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

// Snackbar Style
::ng-deep .success-snackbar {
  background-color: #5cb85c !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper {
  color: white !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnContainerGeneral {
  width: 100%;
  margin: 3% 0 5%;
}
.btnFormGeneral {
  height: 46px;
}
.btnEditGeneral {
  width: 100%;
  color: white;
  background-color: #5cb85c;
}

.submitBtnContainer {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 2%;
}
.submitBtb {
  color: white;
  background-color: #f29038;
  display: grid;
  place-items: center;
}
@media (max-width: 480px) {
  .generalContainer {
    width: 96%;
    margin: 2%;
  }

}