<div class="generalContainer">
    <h1>General</h1>
    <mat-progress-bar mode="indeterminate" *ngIf="stateGeneral.loading"></mat-progress-bar>

    <form class="containerFormAddProducto" (ngSubmit)="onSubmit()" [formGroup]="myForm" *ngIf="!stateGeneral.loading">
        <!-- NOMBRE DE LA EMPRESA -->
        <label>Nombre de la Empresa</label>
        <mat-form-field appearance="outline" color='accent'>
            <input matInput type="text" placeholder="Ejemplo: South Mart Fast" formControlName="nombreEmpresa"
                [(ngModel)]="generalConfig.nombreEmpresa" required maxlength="256" />
            <mat-error *ngIf="myForm.get('nombreEmpresa').hasError('required')">
                Nombre de Empresa es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('nombreEmpresa').hasError('whitespace')">
                Nombre de Empresa <strong>no válido</strong>
            </mat-error>
        </mat-form-field>

        <!-- TEXTO DE LA CABECERA -->
        <label>Texto de Cabecera</label>
        <mat-form-field appearance="outline" color='accent'>
            <textarea matInput type="text" formControlName="textoCabecera" [(ngModel)]="generalConfig.textoCabecera"
                placeholder="Ejemplo: Todos los pedidos que ingresen hasta las 7:00 p.m. se ..."
                maxlength="1024"></textarea>
            <mat-error *ngIf="myForm.get('textoCabecera').hasError('required')">
                Texto de Cabecera <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('textoCabecera').hasError('whitespace')">
                Texto de Cabecera <strong>no válida</strong>
            </mat-error>
        </mat-form-field>

        <!-- Correo de Avisos -->
        <label>Correo de Avisos</label>
        <mat-form-field appearance="outline" color='accent'>
            <input matInput type="email" formControlName="correoAvisos" [(ngModel)]="generalConfig.correoAvisos"
                placeholder="Ejemplo: admin@SouthMart.com" required maxlength="256" />
            <mat-error *ngIf="myForm.get('correoAvisos').hasError('required')">
                correoAvisos es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('correoAvisos').hasError('email')">
                correoAvisos <strong>no válido</strong>
            </mat-error>
        </mat-form-field>

        <!-- CELULAR DONDE LLEGAN LOS SMS -->
        <label>Celular donde llegan los SMS de pedidos</label>
        <mat-form-field appearance="outline" color='accent'>
            <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)"
                formControlName="celSMS" [(ngModel)]="generalConfig.celSMS" placeholder="Ejemplo: 95*******" required
                maxlength="9" />
            <mat-error *ngIf="myForm.get('celSMS').hasError('required')">
                Celular es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <!-- CELULAR DE PAGOS -->
        <label>Celular de Pagos</label>
        <mat-form-field appearance="outline" color='accent'>
            <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)"
                formControlName="celPagos" [(ngModel)]="generalConfig.celPagos" placeholder="Ejemplo: 95*******"
                required maxlength="9" />
            <mat-error *ngIf="myForm.get('celPagos').hasError('required')">
                Precio es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <div class="btnContainerGeneral">
            <button type="button" mat-raised-button (click)="edit()" *ngIf="!stateGeneral.edit"
                class="btnFormGeneral btnEditGeneral">
                <mat-icon class="iconSuccessBtn">edit</mat-icon> Editar
            </button>
            <div class="submitBtnContainer" *ngIf="stateGeneral.edit">
                <button type="button" mat-flat-button class="btnFormGeneral" (click)="goBack()" [disabled]="btnState.disableBtn">
                    Cancelar
                </button>
                <button type="submit" mat-raised-button class="btnFormGeneral submitBtb" [disabled]="btnState.disableBtn">
                    <ng-container *ngIf="btnState.normal">
                        <mat-icon class="iconSuccessBtn">save
                        </mat-icon>&nbsp;&nbsp;
                        Guardar Cambios
                    </ng-container>
                    <mat-spinner *ngIf="btnState.loading" color="accent" diameter="30"></mat-spinner>
                    <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="accent">done
                    </mat-icon>
                </button>
            </div>

        </div>

    </form>
</div>