<div class="headerHomeContainer">
    <img class="cabeceraBack" src="../assets/banner.png"/>
    <div class="cabTienda">
        <img class="" src="../assets/logoHeader.png"/>

    </div>
</div>
<div class="horario" *ngIf="textoCabecera">
    <p>{{textoCabecera}}</p>
</div>