.headerHomeContainer {
    // margin: 5% 0 0;
    position: relative;
    // background-image: url(/banner.png) ;
  }
  .headerHomeContainer img {
    height: 150px;
  }
  .cabeceraBack{
    width: 100%;
    object-fit: cover;
  }
  .cabeceraBack{
    height: 200px !important;
  }

  .headerHomeContainer .titleHeaderHome{
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      font-size: 30px;
      color: whitesmoke;
      text-align: center;
      line-height : 35px;
  }
  .cabTienda{
    position: absolute;
    height: 75% !important;
    top: 12%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }

  .horario{
    background-color:#ae0c3a ;
    text-align:center;
    color: white;
    padding: 1rem;
    margin-top: -5px;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height : 25px;
  }
  .horario p{
    margin: 0;
  }
  @media (max-width: 600px) {
    .horario{
      background-color:#ae0c3a ;
      text-align:center;
      color: white;
      padding: 1rem;
      margin-top: -5px;
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height : 20px;
    }
  }