.dltTitle{
    color: #F44336;
    font-weight: bold;
}
.rowdialog-content{
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-column-gap: 10px;
    
    // flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}
.dltIcon{
    font-size: 45px;
}
::ng-deep .error-snackbar{
    background-color: #F44336 !important;
    color: white !important;
  }
  ::ng-deep .error-snackbar .mat-button-wrapper{
    color: white !important;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .iconSuccessBtn {
    font-size: 28px;
    margin-bottom: 5px;
  }