.containerCategoriasComponent {
  width: 96;
  margin: 0 2%;
}
.containerCategoriasComponent h1 {
  color: #666666;
  font-weight: bold;
}
.headerTableCategorias {
  width: 100%;
  height: 56.2px;
  background-color: #888888;

  color: white;
  display: grid;
  text-align: center;
  grid-template-columns: 50px 200px 70px 1fr 100px;
}
.titleHeaderTable {
  display: grid;
  place-items: center;
  // border-right: 1px solid rgb(136, 12, 12);
}
.titleHeaderTableNombre{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 5%;
}
.titleHeaderTableNombre a {
  color: #ff7700 !important;
  text-decoration: underline #fa8722;
  cursor: pointer;
}
.listTableCategorias {
  min-height: 60px;
  width: 100%;
  padding: 2% 0;
  display: grid;
  text-align: center;
  grid-template-columns: 50px 200px 70px 1fr 100px;
}

.example-list {
  width: 100%;
  max-width: 100%;
  // border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  // border-radius: 4px;
  overflow: hidden;
}

.example-box {
  // padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.dragIconCategoria{
  cursor: move;
  color: #888888;
}
.imgCategoria{
  height: 50px;
  width: auto;
  background-color: #888888;
  object-fit: cover;
  object-position: center;
}

//barra de carga
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f29038;
}

::ng-deep .mat-progress-bar-buffer {
  background: #ffc28e;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
.btnAddCategoria {
  background-color: #f29038;
  margin-top: 3%;
  color: white;
}

// Success snackbar
::ng-deep .success-snackbar {
  background-color: #5cb85c !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper {
  color: white !important;
}
// Delete snackbar
::ng-deep .delete-snackbar {
  background-color: #ff4444 !important;
  color: white !important;
}
::ng-deep .delete-snackbar .mat-button-wrapper {
  color: white !important;
}
