<div class="containerCategoriasComponent">

    <h1>Categorias</h1>
    <mat-progress-bar class="progress-productos" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="headerTableCategorias" *ngIf="!loading">
        <div class="titleHeaderTable">Orden</div>
        <div class="titleHeaderTableNombre">Nombre</div>
        <div class="titleHeaderTable">Icono</div>
        <div class="titleHeaderTable">Productos</div>
        <div class="titleHeaderTable">Activo</div>
    </div>
    <div cdkDropList (cdkDropListDropped)="drop2($event, categoria)" cdkDropListGroup class="example-list" *ngIf="!loading">
        <div class="example-box" *ngFor="let categoria of listCategoriasTabla" cdkDrag [id]="categoria.id">
            <div class=" example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="listTableCategorias">
                <div class="titleHeaderTable" cdkDragHandle>
                    <mat-icon class="dragIconCategoria">drag_handle</mat-icon>
                </div>
                <div class="titleHeaderTableNombre"><a
                        [routerLink]="['/categorias/detallesCategoria',categoria.id]">{{categoria.nombre}}</a></div>
                <div class="titleHeaderTable"><img class="imgCategoria" [src]="categoria.img" alt="" srcset=""></div>
                <mat-chip-list cdkDropList [cdkDropListData]="categoria.productos" cdkDropListOrientation="horizontal"
                    cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event,categoria,categoria.productos)"
                    aria-label="Fish selection">
                    <mat-chip *ngFor="let producto of categoria.productos" color="accent"
                        [selected]="producto.activo==1?true:false" cdkDrag>{{producto.nombre}}</mat-chip>
                </mat-chip-list>
                <div class="titleHeaderTable">
                    <mat-slide-toggle [(ngModel)]="categoria.activado" [disabled]="categoria.toggleDisable"
                        (change)="toggle(categoria)"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <a class="btnAddCategoria" [routerLink]="['/categorias/nuevaCategoria']" mat-raised-button>Añadir Categoria +</a>
</div>