<div class="finalizarPedidoContainerHome" *ngIf="load">

  <div class="main">
    <div class="main-wrapper">
      <div class="unidades-moviles">
        <h2>Muchas Gracias por su Pedido</h2>
        <p>
          Su pedido será procesado immediatamente, Si desea conocer el estado de su pedido llame por favor a la
          siguiente unidad movil:
          <!-- <span class="resaltar">día lunes o martes</span> de la siguiente semana. -->
        </p>
        <!-- <p>
        Si desea conocer la hora aproximada de entrega por favor coordine con
        nuestras unidades Móviles.
      </p> -->
        <h3>Encargado Delivery SouthMartFast</h3>



        <div class="buttonWhatsapp">
          <img src="../assets/whatsappOriginal.png" alt="whatsappLogo">
          <a target="_blanck"
            [href]="whatsapp">
            {{numberwsp}}
          </a>
        </div>
        <!-- <div class="imagenRuta">
          <img src="../assets/mapaRuta.png" alt="">
        </div> -->
        <!-- <h5>Arturo: 959349999</h5> -->
        <!-- <h4>
        Cayma Cerro,Colorado,Alto Selva Alegre, Cercado, Jose Luis Bustamante y
        Rivero, Miraflores, Paucarpata
      </h4>
      <h5>Paul: 989 572 144</h5>
      <h4>Otros Distritos</h4>
      <h5>Fernando: 950 133 023</h5> -->
        <div class="metodo_pago_detalle">
          <h2>Forma de Pago: {{tipo}}</h2>
          <div class="descripcion_pago">
            <!-- <p *ngIf="tipo=='Efectivo'">Pague al momento de la entrega.</p>
          <p *ngIf="tipo=='Deposito'">Deposite al Nro. de Cuenta 6372*****</p>
          <p *ngIf="tipo=='Yape'">Yapee al Nro. de Cuenta 6372*****</p> -->
            <p class="resaltar">Total S/{{total}}</p>
          </div>
        </div>
        <!--       
      <p>
        Somos una empresa EcoAmigable, por lo cual le pedimos que brinde sus
        propias bolsas al momento de la entrega.
      </p>
      <p>
        Recuerden Familia:
        <a class="resaltar" href="https://twitter.com/hashtag/quedateencasa"
        >#QuedateEnCasa</a>  
        <a class="resaltar" href="https://twitter.com/hashtag/stayhome"
        >#StayHome</a
        >
      </p> -->

        <button mat-stroked-button class="cancelBtnConfirmar" (click)="goBack()">Finalizar</button>
      </div>
    </div>
  </div>

</div>