.finalizarPedidoContainerHome{
    width: 100%;
    display: grid;
    place-items: center;
  }


h2,h3,h4,h5{
    font-weight: bold;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;

}
.unidades-moviles{
    text-align: center;
}

.unidades-moviles h3,h2,.resaltar{
    color:#f29038;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;

}
.resaltar{
    font-size: 20px;
}
.unidades-moviles h4{
    color:#633;
}
.unidades-moviles h5{
    margin-bottom: var(--salamanto--margin);
}

.metodo_pago_detalle{
    margin-bottom:1rem;
}
.main-wrapper{
    padding: 1rem;
}
::ng-deep .success-snackbar{
    background-color: #1ea83e !important;
    color: white !important;
  }
  ::ng-deep .success-snackbar .mat-button-wrapper{
    color: white !important;
  }
  .submitBtnConfirmar {
    display: grid;
    place-items: center;
    margin: 5%;
    width: 50%;
    height: 2.2em;
    font-size: 22px;
    color: whitesmoke;
    background-color: #950000;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
  }
  .cancelBtnConfirmar{
      background-color: #f29038;
      color: white;
      padding: .8rem 1.1rem;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 4px;

  }
  // boton de whatsapp
  .buttonWhatsapp{
    display: inline-block;
    padding: 1rem;
    background-color: #1bd741;
    border-radius: 18px;
    margin: 1rem 0;
  }
  .buttonWhatsapp img,
  .buttonWhatsapp a{
    vertical-align: middle;
    color: white;
  }
  .buttonWhatsapp img{
    width: 25px;
    margin-right: .5rem;
  }
  .imagenRuta{
    margin: 1rem 0 2rem; 
  }
  @media (max-width:640px){
    .main-wrapper{
        margin: 0 20px;
    }
  }