<div class="pedidosContainer">

    <div id='page-container'>
        <h1>Pedido</h1>
        <div id='detalle-container'>
            <h2 class='solid'>ID</h2>
            <div class='solid' id='id-container'></div>
            <h2 class='faded'>Fecha</h2>
            <div class='faded' id='fecha-container'></div>
            <h2 class='solid'>Cliente</h2>
            <div class='solid' id='cliente-container'></div>
            <h2 class='faded'>Pago</h2>
            <div class='faded' id='pago-container'></div>
            <h2 class='solid'>Dirección</h2>
            <div class='solid' id='direccion-container'></div>
            <h2 class='faded'>Distrito</h2>
            <div class='faded' id='distrito-container'></div>
            <h2 class='solid'>Mapa</h2>
            <div class='solid' id='mapa-container'>
                <div id='map'></div>
            </div>
            <h2 class='faded'>Comentario</h2>
            <div class='faded' id='comentario-container'></div>
            <h2 class='solid'>Productos</h2>
            <div class='solid' id='productos-container'></div>
        </div>
        <a href='/pedidos'>
            <button id='back-button'>Volver</button>
        </a>
    </div>


    <!-- <a routerLink="/" mat-raised-button color="secondary" class="downloadExcel">Volver</a> -->
</div>