.pedidosContainer {
  position: relative;
  margin: auto;
  width: 80%;
  height: auto;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  color: #aa3535;
}

.tipoPedidosContainer {
  position: relative;
  // margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 2%;
}
.tipoPedidoCard {
  width: 90%;
  height: 150px !important;
  padding: 5%;
  background-color: whitesmoke;
  border-radius: 8px;
}
.tipoPedidoCard .title {
  font-size: 2em;
  color: #aa3535;
  font-weight: bolder;
}
.inputSelectorDay {
  margin-top: 15px;
  width: 100%;
}
.downloadExcel {
  padding: 0.5% ;
  width: 100%;
  background-color: #aa3535;
  color: whitesmoke;
}
// .example-month-picker .mat-calendar-period-button {
//   pointer-events: none;
// }

// .example-month-picker .mat-calendar-arrow {
//   display: none;
// }

/***************************************
***************************************/
#page-container {
  display: none;
}

#detalle-container h2 {
  width: 15%;
  height: 4rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detalle-container {
  border: solid 2px #633;
  display: flex;
  flex-wrap: wrap;
}

#detalle-container div {
  width: 84%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 1%;
}

h2.solid {
  background-color: rgba(214, 107, 107, 0.7);
}

#detalle-container div.solid {
  background-color: rgba(214, 107, 107, 0.3);
}

h2.faded {
  background-color: rgba(214, 107, 107, 0.3);
}

#map{
  width: 15rem !important;
  height: 15rem;
  background-color: grey;
  margin: 1rem;
}

#back-button {
  margin: 1rem;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #633;
  color: white;
  font-size: 1.2rem;
}