<div class="catalogoHomeConatiner">

    <ng-container *ngIf="!load">
        <div class="loaderCatalogoHome">
            <mat-progress-bar class="green-progress" mode="indeterminate"></mat-progress-bar>
        </div>
    </ng-container>

    <mat-tab-group *ngIf="load" mat-align-tabs="center">
        <mat-tab *ngFor="let categoria of categorias">
            <ng-template class="uppercase" mat-tab-label>{{categoria.nombre}}</ng-template>
            <div class="productCatalogoContainer">
                <div *ngFor="let producto of categoria.productos" class="productCatalogo mat-elevation-z1">
                    <img [src]="producto.img?producto.img:default" alt="" (click)="openDialog(producto.id)">
                    <div class="descriptionProductoCatalogo">

                        <h2 class="nombreProducto">{{producto.nombre}}</h2>
                        <div class="relleno"></div>
                        <div>
                            <div [ngClass]="{'leftText': producto.descuento>0 && producto.descuento_act}">

                                <h3 class="productoPrecioCard">
                                    {{producto.cantidad_venta}} {{producto.unidad}} a
                                    <div class="descContainer">

                                        S/{{producto.precio}}
                                        <div class="desc" *ngIf="producto.descuento>0 && producto.descuento_act">
                                            <div class="descLine"></div>
                                            <div class="descSpan">

                                                -{{!producto.descuento_porc?'S/':''}}{{producto.descuento_input}}{{producto.descuento_porc?'%':''}}
                                                dscto
                                            </div>
                                        </div>
                                    </div>
                                </h3>
                            </div>

                            <div class="cantidadProductoCatalogo">
                                <div class="optionCantidad" (click)="add(producto,'menos')">-</div>
                                <div class="inputContentHome">
                                    <input class="inputCantidad" type="number" min="0" max="99"
                                        [(ngModel)]="producto.cantidad" disabled>
                                </div>
                                <div class="optionCantidad" (click)="add(producto,'mas')">+</div>
                            </div>
                            <span class="precio">S/{{producto.total || '0.00'}}</span>
                        </div>

                    </div>
                </div>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>