.catalogoHomeConatiner {
  background-color: whitesmoke;
  // margin-bottom: 5rem;
}
.loaderCatalogoHome {
  height: 5vh;
  width: 96%;
  padding: 2%;
  background-color: #ffdfc1;
}
.mat-tab-group {
  height: auto;
}
.green-progress .mat-progress-bar-fill::after {
  background-color: #f29038 !important;
}
.green-progress .mat-progress-bar-buffer {
  background-color: #ffc28e !important;
}

.mat-tab-label.mat-tab-label {
  color: white;
  font-weight: 700;
  padding: 1.8rem 24px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
  font-size: 1.2rem;
  background-color: #f29038;
  opacity: 1;
}
.mat-tab-label.mat-tab-label-active {
  background-color: #ffdfc1;
  color: #f29038;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #e97713 !important;
  // height: 5vh !important;
}
.productCatalogoContainer {
  height: auto;
  padding: 1rem 0.5% 1%;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: hidden;
  background-color: #ffdfc1;
}
.productCatalogoContainer .productCatalogo {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.productCatalogo img {
  width: 100%;
  height: 150px;
  // object-position: 20% 10%;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}
.descriptionProductoCatalogo {
  position: relative;
  margin: 3% 3% 0 3%;
  // background-color: rgba(0, 0, 255, 0.767);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  // overflow: hidden;
  height: 100%;
}
.relleno {
  flex: 1 1 auto;
  min-height: 25px;
}
.descriptionProductoCatalogo .nombreProducto {
  display: inline-block;
  margin: 0;
  color: #767676;
  // font-size: 1.4em !important;
  font-weight: bold;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
}
.contentDescriptionCatalogo {
  width: 100%;
  overflow: hidden;
  height: 20px;
  margin-top: 2%;
  // background-color: brown;
}
.descriptionProductoCatalogo span {
  display: inline-block;
  color: #767676;
  font-size: 1.2rem;
  // font-size: 16px;
}
.descriptionProductoCatalogo .precio {
  font-weight: bold;
  font-size: 1.5rem !important;
  margin: 1rem 0;
}
.productoPrecioCard {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;

  display: inline-block;
  margin-bottom: 0;
  color: #767676;
  // font-size: 16px !important;
}
.cantidadProductoCatalogo {
  display: grid;
  width: 98%;
  grid-template-columns: 1fr 1fr 1fr;
  // height: 3rem;
  grid-template-rows: 2.2rem;
  border-radius: 8px;
  border: 1.3px solid rgba(112, 112, 112, 0.774);
  overflow: hidden;
  background-color: white;
}
.optionCantidad {
  height: 100%;
  user-select: none;
  cursor: pointer;
  background-color: #ffdcbd;
  display: grid;
  place-items: center;
  // font-size: 40px;
  // margin-bottom: 20px;
}
.inputContentHome {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.inputCantidad {
  height: 25px;
  width: 90%;
  margin-left: 10px;
  border: none !important;
  text-align: center;
  // font-size: 24px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
}
.inputCantidad:disabled {
  color: black;
  background-color: white;
  border: none;
}
.inputCantidad:hover {
  color: black;
  background-color: white;
  border: none !important;
  cursor: default !important;
}
.optionCantidad:hover {
  background-color: #f290389e;
  // font-size: 50px;
}
.optionCantidad:active {
  background-color: #f290389e;
  // font-size: 40px;
}
.descContainer {
  display: inline;
  position: relative;
}
.desc {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}
.descLine {
  min-width: 60px;
  height: 1px;
  width: 100%;
  background-color: black;
}
.descSpan {
  min-width: 80px;
  background-color: red;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  margin-left: 2%;
}
.leftText {
  text-align: left !important;
  padding-left: 8%;
}

@media (max-width: 480px) {
  .productCatalogoContainer {
    height: auto;
    padding: 1rem 0.5% 1%;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    overflow-y: hidden;
    background-color: #ffdfc1;
  }
  .nombreProducto {
    line-height: 16px !important;
  }
  .relleno {
    flex: 1 1 auto;
    min-height: 5px;
  }
  .productCatalogo img {
    width: 100%;
    height: 120px;
    // object-position: 20% 10%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
  }
}
