.loginContainer {
  margin: auto;
  width: 300px;
  padding: 2% 0;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 8px;
  display: grid;
  place-items: center;
}
.inputLogin {
  width: 100%;
  color: #aa3535;
}
.btnLogin {
  margin-top: 7%;
  width: 100%;
  background-color: #aa3535;
  color: whitesmoke;
  display: grid;
  place-items: center;
  height: 40px;
}
