<div class="loginContainer">

    <form (ngSubmit)="onSubmit()" style="width: 86%; margin: auto;" [formGroup]="myForm">

        <mat-form-field appearance="standard" color='warn' class="inputLogin">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput formControlName="nususario" [(ngModel)]="usuario.nusuario" type="text">
            <mat-error *ngIf="myForm.get('nususario').hasError('whitespace')">
                Usuario <strong>no válido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('nususario').hasError('minlength')">
                Usuario <strong>no válido</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="standard" color='warn' class="inputLogin">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena"
                [(ngModel)]="usuario.contrasena">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="iconForm">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.get('contrasena').hasError('whitespace')">
                Contraseña <strong>no válida</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('contrasena').hasError('minlength')">
                Contraseña <strong>no válida</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="btnLogin" [disabled]="btnState.disableBtn">
            <ng-container *ngIf="btnState.normal">Log In</ng-container>
            <mat-spinner *ngIf="btnState.loader" color='warn' diameter="30"></mat-spinner>
            <mat-icon *ngIf="btnState.success" style="font-size: 30px; margin-bottom: 10px;" color='warn'>done </mat-icon>
        </button>
    </form>
</div>