.navBarAdmin {
  background-color: #303030;
  color: whitesmoke;
}
.navBarAdmin img {
  width: 60px;
  height: 50px;
  object-fit: cover;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.navBarAdminActive {
  color: #f29038;
}
.resposiveMenu {
  display: none;
}
@media (max-width: 650px) {
  .resposiveMenu {
    display: block;
  }
  .originalMenu {
    display: none;
  }
}
