<mat-toolbar class="navBarAdmin mat-elevation-z8">
    <mat-toolbar-row>
      <img src="./../../../assets/logoHeader.png" alt="logo Bodega Gastronomica" routerLink="/">
      <span class="example-spacer"></span>
      <div class="originalMenu">
        <button class="example-icon" mat-button  routerLink="/general" routerLinkActive="navBarAdminActive">General</button>
        <button class="example-icon" mat-button  routerLink="/pedidos" routerLinkActive="navBarAdminActive">Pedidos</button>
        <button class="example-icon" mat-button  routerLink="/productos" routerLinkActive="navBarAdminActive">Productos</button>
        <button class="example-icon" mat-button  routerLink="/categorias" routerLinkActive="navBarAdminActive">Categorias</button>
        <button class="example-icon" mat-button  routerLink="/unidadesdemedida" routerLinkActive="navBarAdminActive">Unidades de Medida</button>
        <button class="example-icon" mat-button (click)="salir()">Cerrar sesión</button>
      </div>
        
      <button class="resposiveMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="matMenu">
        <button mat-menu-item routerLink="/general" routerLinkActive="navBarAdminActive">General</button>
        <button mat-menu-item routerLink="/pedidos" routerLinkActive="navBarAdminActive">Pedidos</button>
        <button mat-menu-item routerLink="/productos" routerLinkActive="navBarAdminActive">Productos</button>
        <button mat-menu-item routerLink="/categorias" routerLinkActive="navBarAdminActive">Categorias</button>
        <button mat-menu-item routerLink="/unidadesdemedida" routerLinkActive="navBarAdminActive">Unidades de Medida</button>
        <button mat-menu-item (click)="salir()">Cerrar sesión</button>
       
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>