.containerAddProducto {
  width: 96;
  margin: 2% 2%;
}
.titlteAddProducto {
  color: #666666;
  font-weight: bold;
}
.containerFormAddProducto {
  display: grid;
  grid-template-columns: minmax(200px,30%) 1fr;
  gap: 2%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 5px;
  color: #666666;
}
::ng-deep .mat-focused .mat-form-field-outline {
  /*change color of label*/
  color: #f29038 !important;
}
.inputFormAddProduct {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnFormProducto{
  width: 100%;
  display: grid;
  place-items: center;
  height: 53px;
  background-color: #f29038;
  margin-top: 3%;
  color: white;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.iconSuccessBtn{
  font-size: 30px;
}

::ng-deep .success-snackbar{
  background-color: #5CB85C !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper{
  color: white !important;
}


.newInputsContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 5%;
}


.containerUploadImgs {
  display: grid;
  // background-color: yellow;
  overflow-y: auto;
  gap: 10px;
  padding: 1%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: minmax(220px, 1fr);
  border: solid 1.2px #666666;
  border-radius: 6px;
  background-color: white;
  min-height: 42%;
}
.addImgContainer {
  border: dashed 1.3px #F29038;
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #F29038;
  cursor: pointer;
  user-select: none;
}
.divDisabled {
  border: dashed 1.3px #525252 !important;
  color: #525252 !important;
}
.addTitle {
  transition: 0.5s;
  text-align: center;
}
.addImgContainer:hover .addTitle {
  transform: scale(1.05);
}
.listImgContent {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.listImgContent img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.descriptionImg {
  height: 25%;
  position: absolute;
  bottom: 0;
  width: 96%;
  padding: 2%;
  background: linear-gradient(#ffffff00, #161616);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
}
.subirIMG {
  display: flex;
  flex-direction: column;
  // background-color: yellowgreen;
}
.notInput {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  visibility: hidden;
}

@media (max-width: 650px) {
  .containerFormAddProducto {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .subirIMG{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .notInput{
    width: 100%;
    margin-right: 0%;
  }
  .userImg{
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
    background-color: white;
  }
  .btnFormProducto{
    margin-top: 15%;
  }
}