<div class="containerAddProducto">
  <h1 class="titlteAddProducto">Añadir Producto</h1>
  <form class="containerFormAddProducto" *ngIf="categorias.length!=0 && unidadMedidas.length!=0" (ngSubmit)="onSubmit()"
    [formGroup]="myForm">

    <!-- Columna 1 -->
    <div class="columnFormAddProducto">

      <!-- Nombre del Producto -->
      <label for="">Nombre</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <input matInput type="text" formControlName="nombre" [(ngModel)]="newProducto.nombre"
          placeholder="Ejemplo: Azúcar Rubia" required maxlength="256" />
        <mat-error *ngIf="myForm.get('nombre').hasError('required')">
          Nombre es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="myForm.get('nombre').hasError('whitespace')">
          Nombre <strong>no válido</strong>
        </mat-error>
      </mat-form-field>

      <!-- Categorias -->
      <label for="">Categoria</label>
      <mat-form-field appearance="outline" color='accent' color="accent" class="inputFormAddProduct">
        <mat-select formControlName="categoria" [(ngModel)]="newProducto.categoria_id" required>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.get('categoria').hasError('required')">Selecionar una <strong>Categoria</strong>
        </mat-error>
      </mat-form-field>

      <!-- Unidades de Medida -->
      <label for="">Unidad de Medida</label>
      <mat-form-field appearance="outline" color='accent' color="accent" class="inputFormAddProduct">
        <mat-select formControlName="unidad" [(ngModel)]="newProducto.unidad_medida_id" required>
          <mat-option *ngFor="let uniMedida of unidadMedidas" [value]="uniMedida.id">
            {{ uniMedida.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.get('unidad').hasError('required')">Selecionar una <strong>Unidad de Medida</strong>
        </mat-error>
      </mat-form-field>

      <!-- Costo -->
      <label for="">Costo</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <span matPrefix>S/ &nbsp;</span>
        <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)" formControlName="costo"
          [(ngModel)]="newProducto.costo" placeholder="Ejemplo: 1.50" min="0" required maxlength="11" />
        <mat-error *ngIf="myForm.get('costo').hasError('required')">
          Costo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <!-- Precio -->
      <label for="">Precio</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <span matPrefix>S/ &nbsp;</span>
        <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)" formControlName="precio"
          [(ngModel)]="newProducto.precio" (ngModelChange)="desc()" placeholder="Ejemplo: 1.70" min="0" required
          maxlength="11" />
        <mat-error *ngIf="myForm.get('precio').hasError('required')">
          Precio es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <!-- Stock -->
      <label for="">Stock</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)" formControlName="stock"
          [(ngModel)]="newProducto.stock" (ngModelChange)="stocks()" placeholder="Ejemplo: 20" min="0" required
          maxlength="6" />
        <mat-error *ngIf="myForm.get('stock').hasError('required')">
          Stock es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <!-- Columna 2 -->
    <div class="columnFormAddProducto">

      <!-- New Imputs -->
      <div class="newInputsContainer">

        <!-- Descuento Input -->
        <div class="newInoutContent">
          <label for="">Descuento</label>
          <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
            <span matPrefix *ngIf="!toggleDesc">S/ &nbsp;</span>

            <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)"
              [(ngModel)]="newProducto.descuento_input" placeholder="Ejemplo: 20%" min="0" maxlength="3"
              [ngModelOptions]="{standalone: true}" [disabled]="!newProducto.precio" (ngModelChange)="desc()" />
            <span matSuffix *ngIf="toggleDesc">% &nbsp;</span>
            <mat-hint align="end" *ngIf="newProducto.descuento_input">Descuento Total: S/{{newProducto.descuento}}
            </mat-hint>
          </mat-form-field>
          <div class="optionsNewInputs">
            <mat-slide-toggle [(ngModel)]="toggleDesc" [disabled]="!newProducto.precio" (ngModelChange)="desc()"
              [ngModelOptions]="{standalone: true}"> Porcentaje
            </mat-slide-toggle>
          </div>
        </div>

        <!-- Stock Minimo Input -->
        <div class="newInoutContent">
          <label for="">Stock Mínimo</label>
          <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
            <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)"
              [(ngModel)]="newProducto.stockmin_input" placeholder="Ejemplo: 10%" min="0" maxlength="3"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="stockMin()" [disabled]="!newProducto.stock" />
            <span matSuffix *ngIf="toggleStockMin">% &nbsp;</span>
            <mat-hint align="end" *ngIf="newProducto.stockmin_input">Stock Mínimo: {{newProducto.stockmin}}</mat-hint>

          </mat-form-field>
          <div class="optionsNewInputs">
            <mat-slide-toggle [(ngModel)]="toggleStockMin" (ngModelChange)="stockMin()" [disabled]="!newProducto.stock"
              [ngModelOptions]="{standalone: true}"> Porcentaje
            </mat-slide-toggle>
          </div>
        </div>

        <!-- Stock Critico Input -->
        <div class="newInoutContent">
          <label for="">Stock Crítico</label>
          <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
            <input matInput type="number" oninput="this.value=this.value.slice(0,this.maxLength)"
              [(ngModel)]="newProducto.stockcrit_input" placeholder="Ejemplo: 5%" min="0" maxlength="3"
              [ngModelOptions]="{standalone: true}" (ngModelChange)="stockCrit()" [disabled]="!newProducto.stock" />
            <span matSuffix *ngIf="toggleStockCrit">% &nbsp;</span>
            <mat-hint align="end" *ngIf="newProducto.stockcrit_input">Stock Mínimo: {{newProducto.stockcrit}}</mat-hint>

          </mat-form-field>
          <div class="optionsNewInputs">
            <mat-slide-toggle [(ngModel)]="toggleStockCrit" [disabled]="!newProducto.stock"
              (ngModelChange)="stockCrit()" [ngModelOptions]="{standalone: true}"> Porcentaje
            </mat-slide-toggle>
          </div>
        </div>


      </div>

      <!-- Descripción Corta -->
      <label for="">Descripción Corta</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <textarea matInput type="text" formControlName="descripcion_corta" [(ngModel)]="newProducto.descripcion_corta"
          placeholder="Ejemplo: Azúcar común o de mesa" maxlength="1024"></textarea>
        <mat-error *ngIf="myForm.get('descripcion_corta').hasError('whitespace')">
          Descripción Corta <strong>no válida</strong>
        </mat-error>
      </mat-form-field>

      <!-- Descripción Larga -->
      <label for="">Descripción Larga</label>
      <mat-form-field appearance="outline" color='accent' class="inputFormAddProduct">
        <textarea matInput type="text" formControlName="descripcion_larga" [(ngModel)]="newProducto.descripcion_larga"
          placeholder="Ejemplo: Azúcar Rubia BELL'S Bolsa 5Kg ...." maxlength="1024"></textarea>
        <mat-error *ngIf="myForm.get('descripcion_larga').hasError('whitespace')">
          Descripción Larga <strong>no válida</strong>
        </mat-error>
      </mat-form-field>

      <!-- AGREGAR IMAGENES -->
      <div class="containerUploadImgs">

        <div class="listImgContent" *ngFor="let img of imgLocales; index as i">
          <img [src]="img.url" alt="Imagen 4 del Producto" />
          <div class="descriptionImg">
            <span>{{img.nombre}}</span>
            <div *ngIf="!inputIMGdisable">
              <button type="button" mat-icon-button matTooltip="Cambiar Imagen" color="accent"
                (click)="changeImgClick(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" matTooltip="Eliminar Imagen" *ngIf="i+1==imgLocales.length" mat-icon-button
                color="warn" (click)="imgLocales.pop()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="addImgContainer" [ngClass]="inputIMGdisable?'divDisabled':''" (click)="inputImgClick()">
          <div class="addTitle">
            <h3>Agregar Imagen {{imgLocales.length>0?imgLocales.length:'Principal'}}</h3>
            <mat-icon matSuffix>add_circle_outline</mat-icon>
          </div>

          <mat-form-field class="notInput">
            <ngx-mat-file-input (change)="readURL($event)" accept=".png, .jpg" [disabled]="inputIMGdisable" #inputImg>
            </ngx-mat-file-input>
          </mat-form-field>
        </div>


      </div>

      <!-- BTN ENVIAR -->
      <button mat-raised-button type="submit" class="btnFormProducto" [disabled]="btnState.disableBtn">
        <ng-container *ngIf="btnState.normal">Registrar Producto +</ng-container>
        <mat-spinner *ngIf="btnState.loader" color="accent" diameter="30"></mat-spinner>
        <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="accent">done
        </mat-icon>
      </button>
    </div>


  </form>
</div>