<div class="containerAddCategoria">
    <h1 class="titlteAddCategoria">Añadir Categoria <ng-container *ngIf="!load">{{newCategoria.id}}</ng-container>
    </h1>
    <mat-progress-bar class="progress-productos" mode="indeterminate" *ngIf="load"></mat-progress-bar>
    <form *ngIf="!load" class="containerFormAddCategoria" (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <!-- Nombre de la Categoria -->
        <div>

            <label for="">Nombre</label>
            <mat-form-field appearance="outline" class="inputFormAddProduct">
                <input matInput type="text" formControlName="nombre" [(ngModel)]="newCategoria.nombre"
                    placeholder="Ejemplo: Aceites" required maxlength="256" />
                <mat-error *ngIf="myForm.get('nombre').hasError('required')">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="myForm.get('nombre').hasError('whitespace')">
                    Nombre <strong>no válido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="subirIMG">

            <mat-form-field appearance="outline" color="accent" class="notInput">
                <mat-label>Subir Imagen</mat-label>
                <ngx-mat-file-input id="fileInput" #fileInput (change)="readURL($event)" accept=".png, .jpg, .svg"
                    [disabled]="inputIMGdisable">
                </ngx-mat-file-input>
                <mat-icon matSuffix>cloud_upload</mat-icon>
            </mat-form-field>
            <!-- Visualisar Imagen -->
            <img [src]="img" class="userImg" alt="Imagen de la Categoria" />
        </div>


        <div class="containerBtnEdit">
            <button mat-flat-button (click)="openDialog()" class="deletebtn" color='warn' [disabled]="btnState.disableBtn">
                <mat-icon class="iconSuccessBtn">delete_forever
                </mat-icon>&nbsp;&nbsp;
                Eliminar
            </button>
            <button mat-raised-button (click)="editForm()" class="btnFormProducto"
                style="background-color: #5cb85c !important;" *ngIf="!edit">
                <mat-icon class="iconSuccessBtn">edit
                </mat-icon>&nbsp;&nbsp;
                Editar Categoria
            </button>
            <button mat-raised-button type="submit" class="btnFormProducto" [disabled]="btnState.disableBtn"
                *ngIf="edit">
                <ng-container *ngIf="btnState.normal">
                    <mat-icon class="iconSuccessBtn">save
                    </mat-icon>&nbsp;&nbsp;
                    Guardar Cambios
                </ng-container>
                <mat-spinner *ngIf="btnState.loader" color="warn" diameter="30"></mat-spinner>
                <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="warn">done
                </mat-icon>
            </button>
        </div>
    </form>
</div>