<div class="containerImgDialog">
  <ng-container *ngIf="!justOne">
    <carousel *ngIf="images.length>1"  cellWidth='100%' class="caruso">
      <div class="carousel-cell" *ngFor="let img of images">
        <img [src]="img">
      </div>
    </carousel>
  </ng-container>
  <img [src]="images[0]" alt="" class="imgJustOne" *ngIf="justOne">
  <div class="descriptionContainer">
    {{data.descripcion}}
  </div>

</div>