.mat-dialog-container {
  padding: 0 !important;
}
.containerImgDialog {
  width: 100%;
  position: relative;
}
.containerImgDialog img {
  width: 100%;
  height: auto;
}
.containerImgDialog .descriptionContainer {
  width: 94%;
  padding: 3% 3% 0;
  background-color: white;
  color: black;
  font-size: 1.2rem;
}
.caruso {
  height: 450px !important;
  width: auto;
}
.imgJustOne{
  height: 450px !important;
  width: auto;
  object-fit: fill;
}
@media (max-width: 420px) {
  .caruso {
    height: 300px !important;
    width: auto;
  }
  .imgJustOne{
    height: 300px !important;
    width: auto;
  }
}