.homeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeContainer .homeCenter {
  width: clamp(380px, 70%, 70%);
}
.totalHome {
  position: fixed;
  bottom: 0;
  width: clamp(380px, 50%, 500px);
  margin: auto;
  z-index: 10;
}
.totalDetailsHome {
  position: fixed;
  width: 500px;
  z-index: 100;
  bottom: 0;
}

@media (max-width: 650px) {
  .homeContainer .homeCenter{
    width: 94%;
  }
  .totalHome {
    margin: auto;
    width: 80%;
  }
  .totalDetailsHome {
    width: 80%;
    margin: auto;

  }
}

@media (max-width: 460px) {
  .homeContainer .homeCenter {
    width: 98%;
    margin: 0 auto;
  }
  .totalHome {
    width: 97%;
    margin: auto;
  }
  .totalDetailsHome {
    width: 97%;
    width: 100%;
    margin: auto;

  }
}
