<div class="homeContainer">
    <app-total-home class="totalHome"></app-total-home>
    <app-total-details-home class="totalDetailsHome"></app-total-details-home>
    <div class="homeCenter">
        <!-- <app-header-home></app-header-home> -->
        <app-catalogo-home #catalogo></app-catalogo-home>
        <app-formulario-home></app-formulario-home>
    </div>
    <!-- <app-footer-home class="miFooterHome"></app-footer-home> -->
</div>