.containerAddProducto {
  width: 96;
  margin: 2% 2%;
}
.titlteAddProducto {
  color: #666666;
  font-weight: bold;
}
.containerFormAddProducto {
  display: grid;
  grid-template-columns: minmax(200px, 30%) 1fr;
  gap: 2%;
}
//barra de carga
::ng-deep .mat-progress-bar-fill::after {
  background-color: #f29038;
}
::ng-deep .mat-progress-bar-buffer {
  background: #ffc28e;
}
::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

//Inputs Angular Material
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(240, 248, 255, 0.8);
  border-radius: 5px;
  color: #666666;
}
::ng-deep .mat-focused .mat-form-field-outline {
  /*change color of label*/
  color: #f29038 !important;
}
.inputFormAddProduct {
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btnFormProducto {
  width: 100%;
  background-color: #f29038;
  color: white;
  display: grid;
  place-items: center;
}
.iconSuccessBtn {
  font-size: 28px;
  margin-bottom: 5px;
}

.containerBtnEdit {
  margin-top: 5%;
  display: grid;
  grid-template-columns: minmax(50px, 30%) 1fr;
  gap: 2%;
}

::ng-deep .success-snackbar {
  background-color: #5cb85c !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper {
  color: white !important;
}
::ng-deep .delete-snackbar {
  background-color: #ff4444 !important;
  color: white !important;
}
::ng-deep .delete-snackbar .mat-button-wrapper {
  color: white !important;
}

.containerUploadImgs {
  display: grid;
  // background-color: yellow;
  overflow-y: auto;
  gap: 10px;
  padding: 1%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: minmax(220px, 1fr);
  border: solid 1.2px #666666;
  border-radius: 6px;
  background-color: white;
  min-height: 42%;
}
.addImgContainer {
  border: dashed 1.3px #f29038;
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-size: 20px;
  color: #f29038;
  cursor: pointer;
  user-select: none;
}
.divDisabled {
  border: dashed 1.3px #525252 !important;
  color: #525252 !important;
}
.addTitle {
  transition: 0.5s;
  text-align: center;
}
.addImgContainer:hover .addTitle {
  transform: scale(1.05);
}
.listImgContent {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.listImgContent img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.descriptionImg {
  height: 25%;
  position: absolute;
  bottom: 0;
  width: 96%;
  padding: 2%;
  background: linear-gradient(#ffffff00, #161616);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
}
.subirIMG {
  display: flex;
  flex-direction: column;
  // background-color: yellowgreen;
}
.notInput {
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  visibility: hidden;
}

.newInputsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  margin-bottom: 5%;
}
@media (max-width: 650px) {
  .containerFormAddProducto {
    display: flex;
    flex-direction: column;
  }
  .subirIMG {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .subirIMG .notInput,
  .userImg {
    width: 100%;
  }

  .containerBtnEdit {
    margin-top: 5%;
    display: flex;
    flex-direction: column-reverse;
  }
  .btnFormProducto {
    height: 53px;
  }
  .deleteBtn {
    margin-top: 10%;
  }
}
