<div class="formularioHomeContainer" id="formHome" #formHome>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="containerFormTotal">
      <div class="containerFormGeneralData">
        <h1 class="tituloForm">¿D&oacute;nde lo entregamos?</h1>
        <div class="formContainer">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre" [(ngModel)]="newPerson.nombre"
              placeholder="Ejemplo: Juan Perez" required maxlength="256" />
            <mat-error *ngIf="myForm.get('nombre').hasError('required')">
              Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('nombre').hasError('whitespace')">
              Nombre <strong>no válido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="formContainer">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>

            <input matInput type="text" formControlName="email" [(ngModel)]="newPerson.email"
              placeholder="Ejemplo: jhon@gmail.com" maxlength="256" />
            <mat-error *ngIf="myForm.get('email').hasError('email')">
              Email <strong>no válido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('email').hasError('required')">
              Email es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="formContainer">
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput #celular oninput="this.value=this.value.slice(0,this.maxLength)" type="number" maxlength="9"
              formControlName="celular" [(ngModel)]="newPerson.telefono" placeholder="Ejemplo: 955999888" required />
            <mat-hint align="end" class="hintFormHome">{{ celular.value.length }} / 9</mat-hint>
            <mat-error *ngIf="myForm.get('celular').hasError('required')">
              Celular es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('celular').hasError('minnumber')">
              Celular es <strong>inválido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="formContainer">
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>

            <input matInput type="text" formControlName="direccion" [(ngModel)]="newPerson.direccion" required
              placeholder="Ejemplo: Av. Ejército 654" maxlength="1024" />
            <mat-error *ngIf="myForm.get('direccion').hasError('required')">
              Dirección es <strong>requerida</strong>
            </mat-error>
            <mat-error *ngIf="myForm.get('direccion').hasError('whitespace')">
              Dirección <strong>no válida</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="formContainer">
          <mat-form-field appearance="outline">
            <mat-label>Referencia</mat-label>

            <input matInput type="text" formControlName="referencia" [(ngModel)]="newPerson.referencia"
              placeholder="Ejemplo: Frente al Coliseo" maxlength="1024" />
            <mat-error *ngIf="myForm.get('referencia').hasError('whitespace')">
              Referencia <strong>no válida</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="formContainer">
          <mat-label>Distrito</mat-label>

          <mat-form-field appearance="outline" color="warn">
            <mat-select [formControl]="distritoControl" (selectionChange)="selectDistrito($event.value)" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let distrito of distritos" [value]="distrito">
                {{ distrito.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="distritoControl.hasError('required')">Selecionar un distrito</mat-error>
            <mat-hint *ngIf="distritoControl.value" class="hintFormHome">Precio por Delivery S/ 5.00</mat-hint>
          </mat-form-field>
        </div>

        <div class="formContainer">
          <mat-label>Observación del Pedido</mat-label>

          <mat-form-field appearance="outline">
            <textarea matInput type="text" formControlName="observacion" [(ngModel)]="observacion"
              placeholder="Ejemplo: Con todas sus salsas" maxlength="1024"></textarea>
            <mat-error *ngIf="myForm.get('observacion').hasError('whitespace')">
              Observación <strong>no válida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="containerFormMapa">
        <div class="formMapTitle">
          <p>
            Por favor mueva el puntero hasta que pueda encontrar su
            ubicaci&oacute;n. Nos ayudara a llegar m&aacute;s rapido
          </p>
        </div>
        <agm-map [latitude]="newPerson.lat" [longitude]="newPerson.lon" (mapReady)="onMapReady($event)" [zoom]="13">
          <agm-marker [markerDraggable]="true" [latitude]="newPerson.lat" [longitude]="newPerson.lon"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="containerMetodoPago" id="formMetodo" #formMetodo>
      <h1 class="titleMetodoPago">Método de Pago</h1>
      <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
        class="matGroupMetodoPago" mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="Yape">
          <div class="matTabContainer">
            <h2>
              Realice el pago con Yape :<br />
            </h2>
            <img src="../assets/yape.jpg" alt="">
          </div>
        </mat-tab>
        <mat-tab label="Efectivo" *ngIf="whatsApp.load">
          <div class="matTabContainer">
            <h2>
              Realice el pago al momento de la entrega. <br />
              Indicar al numero
              <a class="whatsappLink" target="_blanck"
                [href]="whatsApp.link"><b>Whatsapp:
                  {{whatsApp.number}}</b>
              </a>
            </h2>
          </div>
        </mat-tab>
        <mat-tab label="Tarjeta de Crédito/Débito">
          <div class="matTabContainer">
            <h2>
              Paga con tu tarjeta de crédito o débito cuando llegue el pedido con nuestro POS Inalámbrico
              <br/>
              <br/>
              <div class="containerIMGcretiDebi">
                <img src="./../../../../assets/creDe1.jpg" alt="">
                <img src="./../../../../assets/creDe2.jpeg" alt="">
              </div>
            </h2>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="btnContainerHome">
        <button mat-raised-button type="submit" class="btnFormHome" [disabled]="btnState.disableBtn">
          <ng-container *ngIf="btnState.normal">Confirmar</ng-container>
          <mat-spinner *ngIf="btnState.loader" color="warn" diameter="30"></mat-spinner>
          <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color="warn">done
          </mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>