h1,
h2 {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
}
.containerFormTotal {
  background-color: white;
  display: flex;
  padding: 0 1rem;
  border-radius: 4px;
}
.formularioHomeContainer {
  // background-color: white;
  // text-align: center;
  color: #726f6f;
  margin: 0;
  padding: 10% 0 0 0;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
}
.formContainer .mat-form-field {
  width: 90%;
  display: block;
}
.formularioHomeContainer h1 {
  font-size: 1.5rem;
  margin: 8% 0;
  line-height: 60px;
}
.formularioHomeContainer .tituloForm {
  margin: 0;
}
.containerFormGeneralData {
  flex-basis: 50%;
}
.containerFormMapa {
  margin-top: 3rem;
}
.containerMetodoPago {
  padding-top: 10%;
  text-align: center;
}
.titleMetodoPago{
  margin: 0 0 3% 0!important;
}
.formContainer label {
  font-size: 20px;
  text-align: right;
  margin-top: 15px;
}
.formContainer input,
textarea {
  color: black;
  font-size: 18px;
}
.whatsappLink {
  color: #f29038;
}
button:disabled {
  color: #989898 !important;
  background-color: #ececec !important;
  opacity: 0.9 !important;
}
.hintFormHome {
  color: rgb(54, 54, 54);
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #663333 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 6px;
}

agm-map {
  height: 400px;
}

.formMapTitle {
  width: 100%;
  display: flex;
  // margin: 4% 0 1%;
}
.formMapTitle p {
  font-size: 1rem;
  margin: 0;
}
.matGroupMetodoPago {
  background-color: rgba(245, 245, 245, 0.74);
}
.matTabContainer {
  margin-top: 4%;
  color: rgb(36, 35, 35);
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
  padding: 0 1rem;
  height: 350px;
}
.matTabContainer img {
  width: 250px;
  height: auto;
  object-fit: cover;
}
.btnContainerHome {
  width: 100%;
  display: grid;
  place-items: center;
}

.btnFormHome {
  display: grid;
  place-items: center;
  margin-top: 5%;
  width: clamp(200px, 60%, 500px);
  height: 3em;
  color: whitesmoke;
  background-color: #f29038;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important ;
  font-size: 1.5rem;
}

::ng-deep .error-snackbar {
  background-color: #950000 !important;
  color: white !important;
}
::ng-deep .error-snackbar .mat-button-wrapper {
  color: white !important;
}
.iconSuccessBtn {
  font-size: 30px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.mat-error {
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 2px;
  font-size: 12px;
  width: 50% !important;
  padding: 0.2% 1% 0;
}

.containerIMGcretiDebi img{
height: 200px;
width: auto;
}


@media (max-width: 1440px) {
  .containerFormTotal {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }
  .formContainer .mat-form-field {
    width: 100%;
  }
  .formularioHomeContainer .tituloForm {
    margin-bottom: 2rem;
  }
}
@media (max-width: 760px) {
  .containerIMGcretiDebi img{
    height: 150px;
    width: auto;
    }
}
@media (max-width: 650px) {
  .formularioHomeContainer .formContainer {
    width: 96%;
    margin: 0 2%;
    //   background-color: rgba(255, 255, 0, 0.295);
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
  }
  .formContainer label {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .containerIMGcretiDebi img{
    height: 100px;
    width: auto;
    }
}