.totalContainerHome {
  width: 96%;
  height: 85px;
  padding: 2% 2% 0 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  background-color: white;
  border-radius: 35px 35px 0px 0px;
}

// TOTAL OPTION --------
.totalOption {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #f29038;
  border: 1px solid #f29038;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;
}
.optionActive {
  background-color: #f29038;
  color: white;
  cursor: default;
}
.iconContainer {
  position: relative;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: blue;
}
.iconContainer .circleOptionCant {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  color: #2aa84a;
}
.iconContainer .iconContentOptionCant {
  font-size: 2.5rem;
  margin-left: -15px;
}
.iconContainer .doubleRowIconUp {
  transform: rotate(-90deg);
  margin-top: 30px;
}
.iconContainer .doubleRowIconDown {
  transform: rotate(90deg);
  margin-left: 15px;
}
.totalOption .titleProductsOption {
  width: 90%;
  height: auto;
  padding: 0 5%;
  position: absolute;
  bottom: 10%;
  left: 0;
  line-height: 12px;
}
// /TOTAL OPTION --------

.payOption {
  border-radius: 0px 33px 0px 0px;
}
.cantProductsOption {
  border-radius: 33px 0px 0px 0px;
  background-color: #2aa84a;
  border: none;
  color: white;
}
.cantProductsOption:hover {
  background-color: #2c9947;
}
@media (max-width: 380px) {
  .totalContainerHome {
    width: 96%;
    height: 65px;
    border-radius: 20px 20px 0px 0px;
  }
  .totalOption .titleProductsOption {
    font-size: 12px;
    line-height: 12px;
  }
  .payOption {
    border-radius: 0px 18px 0px 0px;
  }
  .cantProductsOption {
    border-radius: 18px 0px 0px 0px;
  }
  .totalOption {
    height: 65px;
  }
  .totalOption .titleProductsOption {
    bottom: 5%;
  }
  .iconContainer .doubleRowIconUp {
    margin-top: 15px;
  }
  .iconContainer .doubleRowIconDown {
    margin-top: -15px;
  }
  .iconContainer .normalIcon{
    margin-top: -15px;
  }
}
