<div class="totalContainerHome mat-elevation-z4">

  <!-- Total Option -->
  <div class="totalOption cantProductsOption" (click)="abrirDetalles()">
    <div class="iconContainer">
      <mat-icon class="iconContentOptionCant">arrow_drop_up</mat-icon>
      <div class="circleOptionCant">
        <b>{{_sProductoPedido.productosCard.length}}</b>
      </div>
    </div>
    <div class="titleProductsOption"><b>S/{{total}}</b></div>
  </div>
  <!-- Cantidad Option -->
  <div class="totalOption optionActive" #compra (click)="goTo('Compra')">
    <div class="iconContainer">
      <mat-icon class="iconContentOptionCant" *ngIf="compraState.active">add_shopping_cart</mat-icon>
      <mat-icon class="iconContentOptionCant doubleRowIconUp" *ngIf="compraState.up">double_arrow</mat-icon>
    </div>
    <div class="titleProductsOption "><b>Compra</b></div>
  </div>
  <!-- Cantidad Option -->
  <div class="totalOption" #entrega (click)="goTo('Entrega')">
    <div class="iconContainer">
      <mat-icon class="iconContentOptionCant normalIcon" *ngIf="entregaState.active">add_location_alt</mat-icon>
      <mat-icon class="iconContentOptionCant doubleRowIconUp" *ngIf="entregaState.up">double_arrow</mat-icon>
      <mat-icon class="iconContentOptionCant doubleRowIconDown" *ngIf="entregaState.down">double_arrow</mat-icon>
    </div>
    <div class="titleProductsOption"><b>Datos de Entrega</b></div>
  </div>
  <!-- Cantidad Option -->
  <div class="totalOption payOption" #pago (click)="goTo('Pago')">
    <div class="iconContainer">
      <mat-icon class="iconContentOptionCant normalIcon" *ngIf="pagoState.active">credit_card</mat-icon>
      <mat-icon class="iconContentOptionCant doubleRowIconDown" *ngIf="pagoState.up">double_arrow</mat-icon>
    </div>
    <div class="titleProductsOption"><b>Forma de Pago</b></div>
  </div>

</div>