<div class="pedidoContainer">
    <div class="optionsPedidos">
        <h1>Pedidos
            <span *ngIf="state.load" style="text-transform: lowercase;">
                {{state.label}}: <strong>{{pedidos.length}} </strong>
            </span>
        </h1>
        <div class="optionContainer">
            <div class="divBetweenDays">

                <mat-form-field appearance="outline" color='accent' class="inputSelectorDay">
                    <mat-label>Rango de Días</mat-label>
                    <!-- <input matInput> -->
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate (dateChange)="changeDate()" formControlName="start"
                            placeholder="Start date">
                        <input matEndDate (dateChange)="changeDate()" formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <button mat-flat-button color='accent'
                    [class]="betweenBtn.selected?'mat-elevation-z0':'mat-elevation-z3'" (click)="picker.open()"
                    [disabled]="!state.load">{{betweenBtn.label}}</button>

            </div>
            <button mat-mini-fab matTooltip="Traer Pedidos" class="btnOptionPedido" (click)="getBetweenPedidos()"
                *ngIf="betweenBtn.state!='empty'" [disabled]="!state.load">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button *ngFor="let option of btnOptions" mat-flat-button
                [class]="option.selected?'mat-elevation-z0':'mat-elevation-z3'" class="btnOptionPedido" color='accent'
                (click)="btnOption(option.tipo)" [disabled]="!state.load">
                {{option.label}}
            </button>
        </div>
    </div>

    <div class="acordionPedidos">
        <button mat-flat-button color='accent' (click)="openProducts=!openProducts"
            [disabled]="!state.load">{{openProducts? 'Cerrar':'Abrir'}} Productos</button>
        <mat-slide-toggle style="margin-left: 3%;" [(ngModel)]="isTablas">Listas</mat-slide-toggle>

        <button mat-stroked-button (click)="downloadExcel()" matTooltip="Descargar Pedidos actuales en Excel"
            class="btnExcel" [disabled]="!state.load || btnExcelLoading">
            <ng-container *ngIf="!btnExcelLoading">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26"
                    style="enable-background:new 0 0 26 26;" xml:space="preserve">
                    <g>
                        <path style="fill:#1C6C40;" d="M25.162,3H16v2.984h3.031v2.031H16V10h3v2h-3v2h3v2h-3v2h3v2h-3v3h9.162
                    C25.623,23,26,22.609,26,22.13V3.87C26,3.391,25.623,3,25.162,3z M24,20h-4v-2h4V20z M24,16h-4v-2h4V16z M24,12h-4v-2h4V12z M24,8
                    h-4V6h4V8z" />
                        <path style="fill:#1C6C40;" d="M0,2.889v20.223L15,26V0L0,2.889z M9.488,18.08l-1.745-3.299c-0.066-0.123-0.134-0.349-0.205-0.678
                    H7.511C7.478,14.258,7.4,14.494,7.277,14.81l-1.751,3.27H2.807l3.228-5.064L3.082,7.951h2.776l1.448,3.037
                    c0.113,0.24,0.214,0.525,0.304,0.854h0.028c0.057-0.198,0.163-0.492,0.318-0.883l1.61-3.009h2.542l-3.037,5.022l3.122,5.107
                    L9.488,18.08L9.488,18.08z" />
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                </svg>
                Descargar Excel
            </ng-container>
            <mat-spinner *ngIf="btnExcelLoading" diameter="30">
            </mat-spinner>
        </button>

    </div>

    <mat-progress-bar color='accent' mode="indeterminate" *ngIf="!state.load" style="margin-top: 1.5%;">
    </mat-progress-bar>
    <div class="noPedidos" *ngIf="state.load && pedidos.length==0">No tiene Pedidos en esta Fecha</div>

    <ng-container *ngIf="!isTablas">


        <div class="tablaPedidos" [ngClass]="{'hide-paginator': pedidos.length==0 }">
            <mat-accordion displayMode="flat" multi class="mat-table" [ngClass]="{'hide-paginator': !state.load }">
                <tr matSort class="mat-elevation-z2 mat-header-row">
                    <th class="mat-header-cell idColumn" mat-sort-header="id">ID</th>
                    <th class="mat-header-cell" mat-sort-header="cliente">Cliente</th>
                    <th class="mat-header-cell" mat-sort-header="formaPago">Forma Pago</th>
                    <th class="mat-header-cell" mat-sort-header="total">Total</th>
                    <th class="mat-header-cell" mat-sort-header="fecha">Fecha</th>
                    <th class="mat-header-cell" mat-sort-header="direccion">Dirección</th>
                    <th class="mat-header-cell" mat-sort-header="distrito">Distrito</th>
                    <th class="mat-header-cell" mat-sort-header="estado">Estado</th>
                    <th class="mat-header-cell" mat-sort-header="observacion">Observación</th>
                </tr>

                <mat-expansion-panel [expanded]="openProducts " *ngFor="let item of displayedRows$ | async">
                    <mat-expansion-panel-header class="mat-row">
                        <tr class="papapa">
                            <td class="mat-cell">{{item.id}}</td>
                            <td class="mat-cell">{{item.cliente}}</td>
                            <td class="mat-cell">{{item.formaPago}}</td>
                            <td class="mat-cell">S/{{item.total}}</td>
                            <td class="mat-cell">{{item.fecha}}</td>
                            <td class="mat-cell">{{item.direccion}}</td>
                            <td class="mat-cell">{{item.distrito}}</td>
                            <td class="mat-cell">{{item.estado}}</td>
                            <td class="mat-cell">{{item.observacion}}</td>
                        </tr>
                    </mat-expansion-panel-header>
                    <div>

                        <tr class="papapa" *ngFor="let product of item.pPedido">
                            <td class="mat-cell">{{product.producto_id}}</td>
                            <td class="mat-cell">{{product.nombre}}</td>
                            <td class="mat-cell">{{product.cantidad}}</td>
                            <td class="mat-cell">S/{{product.total}}</td>
                            <!-- <td class="mat-cell">{{item.formaPago}}</td>
                        <td class="mat-cell">{{item.direccion}}</td>
                    <td class="mat-cell">{{item.distrito}}</td>
                    <td class="mat-cell">S/{{item.total}}</td>
                    <td class="mat-cell">{{item.estado}}</td>
                    <td class="mat-cell">{{item.observacion}}</td> -->
                        </tr>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
            <mat-paginator [pageSizeOptions]="[10,25,50,100]" [length]="totalRows$ | async"></mat-paginator>

        </div>
    </ng-container>

    <div cdkDropListGroup class="dragDropContainer" *ngIf="state.load && pedidos.length>0 && isTablas">
        <div class="">
            <h2 style="color: brown;">Pendientes {{state.nPendiente}}</h2>
            <div cdkDropList [cdkDropListData]="pPendiente" class="containerPedidos mat-elevation-z2"
                (cdkDropListDropped)="drop($event, 'Pendiente')">
                <div class="example-box" *ngFor="let item of pPendiente" cdkDrag [id]="item.id">
                    <div class="datosGenerales">
                        <h3>{{item.cl_nombre}}</h3>
                        <h5>{{item.cl_direccion}}</h5>
                        <h5>{{item.cl_distrito}}</h5>
                        <h5> Pedido - {{item.observacion?item.observacion:'Sin Observaciones'}}</h5>
                        <mat-chip-list aria-label="Fish selection" class="chipsContainer">
                            <mat-chip color="primary" selected *ngFor="let product of item.productos_pedidos">
                                {{product.nombre}} x {{product.cantidad}}</mat-chip>
                        </mat-chip-list>
                        <h5 style="color: brown;"><strong> {{item.estado}}</strong>
                        </h5>
                    </div>
                    <div class="detalles">
                        <div class="pago">
                            <h3>{{item.pagoTotal}}</h3><br>
                            <span [ngClass]="item.metodoPago"> <strong>{{item.metodoPago}} </strong> </span>
                        </div>
                        <button mat-flat-button color='accent' class="detallesBtn" (click)="openDetails(item)">
                            <mat-icon>assignment</mat-icon>&nbsp;&nbsp;Detalles
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <h2 style="color: teal;">Entregados {{state.nRealizado}}</h2>
            <div cdkDropList [cdkDropListData]="pRealizado" class="containerPedidos mat-elevation-z2"
                (cdkDropListDropped)="drop($event,'Realizado')">
                <div class="example-box" *ngFor="let item of pRealizado" cdkDrag [id]="item.id">
                    <div class="datosGenerales">
                        <h3>{{item.cl_nombre}}</h3>
                        <h5>{{item.cl_direccion}}</h5>
                        <h5>{{item.cl_distrito}}</h5>
                        <h5> Pedido - {{item.observacion?item.observacion:'Sin Observaciones'}}</h5>
                        <mat-chip-list aria-label="Fish selection" class="chipsContainer">
                            <mat-chip color="primary" selected *ngFor="let product of item.productos_pedidos">
                                {{product.nombre}} x {{product.cantidad}}</mat-chip>
                        </mat-chip-list>
                        <h5 style="color: teal;"><strong> {{item.estado}}</strong>
                        </h5>
                    </div>
                    <div class="detalles">
                        <div class="pago">
                            <h3>{{item.pagoTotal}}</h3><br>
                            <span [ngClass]="item.metodoPago"> <strong>{{item.metodoPago}} </strong> </span>
                        </div>
                        <button mat-flat-button color='accent' class="detallesBtn" (click)="openDetails(item)">
                            <mat-icon>assignment</mat-icon>&nbsp;&nbsp;Detalles
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <h2 style="color: rgb(128, 87, 0);">Anulados {{state.nAnulado}}</h2>
            <div cdkDropList [cdkDropListData]="pAnulado" class="containerPedidos mat-elevation-z2"
                (cdkDropListDropped)="drop($event, 'Anulado')">
                <div class="example-box" *ngFor="let item of pAnulado" cdkDrag [id]="item.id">
                    <div class="datosGenerales">
                        <h3>{{item.cl_nombre}}</h3>
                        <h5>{{item.cl_direccion}}</h5>
                        <h5>{{item.cl_distrito}}</h5>
                        <h5> Pedido - {{item.observacion?item.observacion:'Sin Observaciones'}}</h5>
                        <mat-chip-list aria-label="Fish selection" class="chipsContainer">
                            <mat-chip color="primary" selected *ngFor="let product of item.productos_pedidos">
                                {{product.nombre}} x {{product.cantidad}}</mat-chip>
                        </mat-chip-list>
                        <h5 style="color: rgb(128, 87, 0);"><strong> {{item.estado}}</strong>
                        </h5>
                    </div>
                    <div class="detalles">
                        <div class="pago">
                            <h3>{{item.pagoTotal}}</h3><br>
                            <span [ngClass]="item.metodoPago"> <strong>{{item.metodoPago}} </strong> </span>
                        </div>
                        <button mat-flat-button color='accent' class="detallesBtn" (click)="openDetails(item)">
                            <mat-icon>assignment</mat-icon>&nbsp;&nbsp;Detalles
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>