.pedidoContainer {
  margin: 1%;
  padding: 2%;
  background-color: white;
  border-radius: 6px;
}
.pedidoContainer h1 {
  color: rgb(36, 36, 36);
  display: block;
  margin: 0;
}
.optionsPedidos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.optionContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.btnOptionPedido {
  margin-left: 3%;
  height: 36px;
}
.noPedidos {
  color: rgb(56, 56, 56);
  text-align: center;
  padding: 5% 0;
}

//styles DRAG AND DROP
.dragDropContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  border-top: 1px rgb(97, 97, 97) solid;
  padding-top: 2%;
  margin-top: 1%;
}
.dragDropContainer h2 {
  text-align: center;
}
.containerPedidos {
  border: solid 1px #ccc;
  min-height: 70vh;
  max-height: 80vh;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 0 1%;
  overflow-y: auto;
}

.example-box {
  margin: 1% auto;
  padding: 2%;
  width: 96%;
  border: solid 1px #ccc;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  display: grid;
  grid-template-columns: 1fr minmax(125px, 20%);
  cursor: move;
  // background: rgb(247, 180, 180);
  font-size: 14px;
}
.datosGenerales {
  // background-color: rgba(165, 42, 42, 0.521);
  text-align: left !important;
}
.datosGenerales h3,
h5 {
  display: block;
  margin: 0;
}
.detalles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pago {
  text-align: center;
}
.pago h3 {
  display: inline-block;
  margin: 0;
}
.pago span {
  font-size: 16px;
  color: rgb(18, 18, 146);
}
.Yape {
  color: purple !important;
}
.Efectivo {
  color: green !important;
}
::ng-deep .mat-chip-list-wrapper {
  // background-color: green !important;
  overflow: hidden;
  margin: 1% 0 2% -2% !important;
}

.cdk-drag-preview {
  // box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.containerPedidos.cdk-drop-list-dragging
  .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
// ----STYLES DRAG AND DROP

::ng-deep .success-snackbar {
  background-color: #5cb85c !important;
  color: white !important;
}
::ng-deep .success-snackbar .mat-button-wrapper {
  color: white !important;
}

// Acordion
.acordionPedidos {
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.moreOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btnExcel {
  color: #1c6c40;
  border: solid 1.2px #1c6c40;
  min-height: 36px;
  min-width: 150px;
  display: grid;
  place-items: center;
  margin-left: 3%;
}
::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #1c6c40;
}
#Capa_1 {
  width: 25px;
  height: 25px;
  background-color: transparent;
}

// IMput Day Selector
.divBetweenDays {
  height: 36px;
  position: relative;
}
.inputSelectorDay {
  width: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  visibility: collapse;
  position: absolute;
}
// estilos TABLA
//Tabla
.tableProductos {
  width: 100%;
}
// .thTableProductos {
//   color: white;
//   background-color: #888888;
// }
// tr:nth-child(even) {
//   background-color: #eaeaea;
// }
// tr:hover {
//   background-color: rgb(207, 207, 207);
// }
// ::ng-deep .mat-sort-header-arrow {
//   color: white !important;
// }
.tablaPedidos {
  border-top: 1px rgb(97, 97, 97) solid;
  padding-top: 2%;
  margin-top: 1%;
}
.hide-paginator {
  visibility: hidden;
}
.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

$mat-header-row-height: 56px;
$mat-row-height: 48px;
$mat-row-horizontal-padding: 24px;

// .mat-table {
//   display: block;
// }

.mat-header-row {
  min-height: $mat-header-row-height;
}

.mat-row {
  min-height: $mat-row-height;
}

.mat-header-row {
  display: grid;
  grid-template-columns: 40px repeat(8, 1fr);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 $mat-row-horizontal-padding;
  box-sizing: border-box;

  // &::after {
  //   display: inline-block;
  //   min-height: inherit;
  //   content: '';
  // }
}
.papapa {
  display: grid;
  grid-template-columns: 40px repeat(8, 1fr);
  width: 100%;
  // background-color: yellow;
}

// .mat-cell, .mat-header-cell {
//   flex: 1;
//   overflow: hidden;
//   word-wrap: break-word;
// }
