/****************************
*****************************
BASE: Reseteadores y Base
*****************************
****************************/

/*****************************
VARIABLES
*****************************/
:root {
  --soul--image--border--width:1rem;
  --soul--image--padding:0.1rem;
  --salamanto--border--width:3px;
  --salamanto--padding--small:0.3rem;
  --salamanto--padding:1rem;
  --soul--margin--zero:0rem;
  --salamanto--margin--small:0.5rem;
  --salamanto--margin:1rem;
  --salamanto--margin--big:2rem; 
  --soul--margin--megabig:3rem; 
  --soul--margin--extrabig:4rem;      
  --soul--width:55rem;
  --soul--width-wide:65rem;   
  --salamanto--color--yellow:#FECA1C;
  --salamanto--color--green:#980000;
  --soul--color--blue:#0095CD;
  --soul--color--red:#E61B2E;
  --salamanto--color--border:#707070;
  --salamanto--color--text:#707070;
  --salamanto--color--info:#eee;
  --soul--color--text--heavy:#555555;
  --soul--color--background:#eeeeee;    
  --soul--color--odd:#d0d0d0;
  --soul--color--even:#d0d0d0;    
  --soul--color--resaltado:#eeeeee;
  --soul--color--hover:#707070;
  --soul--color--border--image:#dddddd;
  --soul--color--black:#3b3b3b;
}

/*****************************
HTML GENERAL
*****************************/

body{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.mat-dialog-container{
  padding: 0 !important;
}
// table {
//   border-collapse: collapse;
//   margin: 1.5em 0;
//   table-layout: fixed;
//   text-align: left;
//   width: 100%;
// }

// thead {
//   line-height: 1.3;
//   vertical-align: bottom;
// }

// tbody {
//   vertical-align: top;
// }

// tr {
//   border-bottom: 1px solid #ddd;
// }

// th {
//   font-weight: 600;
// }

// th,
// td {
//   padding: 0.75em 0.75em 0.75em 0;
// }

html {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin: 0 0 0rem;
}

h1 {font-size: 2.2rem !important; }

h2 {font-size: 1.5rem !important; }

h3 {font-size: 1.2rem !important; }

h4 {font-size: 1.2rem !important; }

h5 {font-size: 1rem ; }

p {
  margin: 0 0 0.75em;
}

a {
  color: var(--soul--color--text--heavy);
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  -o-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #404040;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

a{
    word-break: break-word;
}

.horizontal-menu{
    display: flex;
    list-style-type: none;
}

blockquote {
  padding: 1.1rem 1.5rem;
  margin: var(--soul--margin--medium);
}

form{
  margin-left:var(--salamanto--margin--small);
  margin-right:var(--salamanto--margin--small);
}

/****************************
*****************************
FORMULARIOS HTML
*****************************
****************************/


fieldset {
background-color: transparent;
border: 0;
margin: 0;
padding: 0;
}

legend {
font-weight: 600;
margin-bottom: 0.375em;
padding: 0;
}

label {
display: block;
font-weight: normal;
margin-bottom: 0.375em;
font-size: 1.2rem;
}

input,
select,
textarea {
display: block;
font-size: 16px;
}





textarea {
resize: vertical;
}

[type="checkbox"],
[type="radio"] {
display: inline;
margin-right: 0.375em;
}

[type="file"] {
margin-bottom: 0.75em;
width: 100%;
}

select {
margin-bottom: 1.5em;
max-width: 100%;
width: auto;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
outline: 3px solid rgba(85, 85, 85, 0.6);
outline-offset: 2px;
}

input[type="search"] {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
/*SELECT BOX*/
select{
background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
background-repeat: no-repeat;
flex-basis: 55%;
}
select:focus {
background-image:
linear-gradient(45deg, white 50%, transparent 50%),
linear-gradient(135deg, transparent 50%, white 50%),
linear-gradient(to right, gray, gray);
background-position:
calc(100% - 15px) 1em,
calc(100% - 20px) 1em,
100% 0;
background-size:
5px 5px,
5px 5px,
2.5em 2.5em;
background-repeat: no-repeat;
border-color: grey;
outline: 0;
}

input[type="checkbox"]{
width:30px;
height:30px;
}

/*****************************
Formularios Mejorados
*****************************/

.boton-confirmar {
font-size: 1.5rem;
background: var(--salamanto--color--green);
max-width: 90vw;
margin: 1rem auto;
width: 20rem;
}


/****************************
*****************************
LAYOUT
*****************************
****************************/
body{
// background-image: url(./assets/backgroundMadera.jpg);
// background-size: cover;
background-color: #FFDFC1;
width: 100%;
margin:0px;
}

.main-wrapper{
// margin:0 4rem;
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 55rem;
// width: 100%;
background: whitesmoke;
}

/*****************************
Mezcla
*****************************/
header,
main,
footer{
width:100%;
display: flex;
justify-content: center;
}

/***************************************************************
****************************************************************
THEME GENERAL
****************************************************************
***************************************************************/

/*****************************
Titulos Cheveres
*****************************/
.orden_titulo{
background: white;
color: var(--salamanto--color--yellow);
border: var(--salamanto--border--width) solid var(--salamanto--color--green);
border-radius: 2rem;
padding: 0.3rem 1rem;
font-weight: bold;
margin-right: 0.5rem;
}
.seccion{
padding-top: var(--salamanto--margin--big);
padding-bottom: var(--salamanto--margin--big);
}
.seccion h2{
color:var(--salamanto--color--green);
text-align: center;
margin-bottom: var(--salamanto--margin--big);
}
/*****************************
Header
*****************************/
.body-wrapper{
// background: url(../img/header.png);
background-repeat: no-repeat;
background-size: contain;
}
.logo-wrapper{
text-align:center;
}
.logo{
width: auto;
margin-top: 4rem;
margin-bottom: 1rem;
max-width:5rem;
}


/*Boton de Whatsapp*/
.whatsapp-number{
color: white;
background-color: var(--salamanto--color--green);
padding: 0.3rem 0.3rem 0.3rem 0.5rem;
background-repeat: no-repeat;
background-position: 0.5rem center;
border-radius: 0.5rem;
border: 5px solid white;
box-shadow: 0px 0px 1px black;
display: block;
}
.telefono-number{
color: black;
background-color: var(--salamanto--color--green);
padding: 0.3rem 0.3rem 0.3rem 0.5rem;
background-repeat: no-repeat;
background-position: 0.5rem center;
border-radius: 0.5rem;
border: 2px solid #3F5C11;
padding: 0.3rem 0.5rem;
}

/*****************************
Footer
*****************************/
footer{
// background: url(../img/footer.png);
background-repeat: no-repeat;
background-size: cover;
height: 300px;
}
.footer-wrapper{
display: flex;
align-items: center;
flex-wrap: wrap;
text-align: center;
align-content: flex-end;
margin-bottom: 2rem;
}
.footer-wrapper p{
font-family: riffic;
margin-bottom: 1rem;
flex-basis: 100%;
text-shadow: 1px 1px 1px white;
}


/***************************************************************
****************************************************************
Componentes
****************************************************************
***************************************************************/

/*****************************
Full Width
*****************************/
.full-width-flex{
flex-basis: 100%;
}

/*****************************
Texto Destacado
*****************************/
.destacado{
border: 1px solid var(--salamanto--color--border);
background: white;

padding: 0.5rem;
margin: 0.3rem;
display: block;
}
.destacado-marker,
.destacado{
font-weight: bold;
color: red;  
}

/*****************************
Texto Resaltado
*****************************/
.resaltar{
font-weight: bold;
font-family: 'riffic';
}


/*****************************
Spinner
*****************************/
.ctrl__counter-num {
position: absolute;
z-index: 1;
top: 0;
left: 0;
right: 0;
bottom: 0;
line-height: 68px;
visibility: visible;
opacity: 1;
-webkit-transition: opacity 100ms ease-in;
transition: opacity 100ms ease-in;
font-size: 40px;
}
.ctrlspinner{
display:flex;
flex-basis: 100%;
border-bottom: 1px solid #3b3b3b;
border-top: 1px solid #3b3b3b;
border-radius: 5px;
height:60px;
}
.ctrl__counter-input{
padding: 0rem 0.5rem 0.5rem 0.5rem;
height:60px;
}

.ctrl__button {
flex-basis: 30%;

text-align: center;
color: #3B3B3B;
cursor: pointer;
background-color: none;
flex-grow: 2;
font-size: 40px;
border-left: 1px solid #3b3b3b;

border-right: 1px solid #3b3b3b;
}
.ctrl__button--increment{
border-radius: 0px 5px 5px 0px;
line-height: 66px;
}
.ctrl__button--decrement{
border-radius: 5px 0px 0px 5px;
line-height: 60px;
}

.ctrl__button:hover {
background-color: #90a2b0;
-webkit-transition: background-color 100ms ease-in;
transition: background-color 100ms ease-in;
}

.ctrl__button:active {
background-color: #778996;
-webkit-transition: background-color 100ms ease-in;
transition: background-color 100ms ease-in;
}


/*****************************
Responsive Tabs
*****************************/
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
border-radius: 5px;
}

.r-tabs .r-tabs-panel {
background-color: white;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
display: block;
padding: 10px;
background-color: var(--salamanto--color--green);
color: #fff;
font-weight: bold;
text-decoration: none;
text-shadow: none;
font-size: 1.1rem;
border-top-right-radius: 1rem;
border-top-left-radius: 1rem;
text-align: center;
}

.r-tabs {
position: relative;
background-color: var(--salamanto--color--green);
border-top: 1px solid var(--salamanto--color--green);
border-right: 1px solid var(--salamanto--color--green);
border-left: 1px solid var(--salamanto--color--green);
border-bottom: 4px solid var(--salamanto--color--green);
border-radius: 1rem;
}
.r-tabs .r-tabs-nav {
margin: 0.5rem;
padding: 0;
}

.r-tabs .r-tabs-nav .r-tabs-tab {
background-color: var(--salamanto--color--green);
}
.r-tabs .r-tabs-nav .r-tabs-anchor {
text-shadow: none;
font-size: 1.1rem;
font-weight: bold;
color: black;
transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
background-color: white;
color: black;
text-shadow: none;
border-bottom: 1px solid var(--salamanto--color--green);
border-radius: 1rem 1rem 0rem 0rem;

}

.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
color: black;
}



/*****************************
Formas de Pago
*****************************/
.metodo_pago{
display: flex;
justify-content: center;
flex-wrap:wrap;

}
.metodo_pago_instrucciones{
flex-basis: 100%;
margin-bottom: var(--salamanto--margin--big);
}
.metodo_pago_instrucciones p{
width: 90%;
margin: var(--salamanto--margin--small) auto var(--salamanto--margin--small);
}
.metodo_pago_formas{
flex-basis: 35%;
display:flex;
flex-wrap: wrap;
}
.metodo_pago_formas h3,.metodo_pago_formas > div {
flex-basis: 100%;
}
.metodo_pago_formas > div {
padding:var(--salamanto--padding--small);
display: flex;
justify-content: end;
}
.metodo_pago_formas label{
/*flex-basis: 33%;*/
text-align: right;
}
.metodo_pago_formas input{
flex-basis: 31%;
}

.metodo_pago_detalle{
flex-basis: 55%;
background: var(--salamanto--color--info);
padding: var(--salamanto--padding);
border: 3px solid var(--salamanto--color--border);
border-radius: 18px;
text-align: center;
}
// ///mensajes
.mensaje-wrapper{
  display:flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: 2rem;
}
.message{
  display: block;
  width: 100%;
  margin: 0 0 var(--salamanto--margin--small);
  padding: var(--salamanto--padding--small) var(--salamanto--padding);
  border-radius: var(--salamanto--padding--small);
}
.message-info{
  background: #4ea6f4;
  color: white;
  border: var(--salamanto--border--width) solid #0661D6;
}
.message-error{
  background:#FF3333;
  color:white;
  border:var(--salamanto--border--width) solid #AA3333;
}
.message-ok{
  background: #33ff33;
  color: #151;
  border: var(--salamanto--border--width) solid #33AA33;
  font-weight: bold;
  text-align: center;
}
.message-warn{
  background: #cb3;
  color: white;
  border: var(--salamanto--border--width) solid #771;
}


/***************************************************************
****************************************************************
Media Querys
****************************************************************
***************************************************************/
@media screen and (max-width: 929px) {
  body{
    background-color: #FFDFC1;
  }
}
@media screen and (max-width: 900px) {
.main-wrapper{
    // margin:0 3rem;
    max-width:40rem;
}
}

@media screen and (max-width: 640px) {
  

.logo {
    height: auto;
    width: auto;
    margin-top: 5rem;
    max-height: 250px;
}
/*****************************
Global
*****************************/
h1{font-size:1.3rem !important;}
h2{font-size:1.2rem !important;}
h3{font-size:1rem !important;}    
h4{font-size:0.9rem !important;}   
h5{font-size:0.8rem !important;}   


/*****************************
Tabs
*****************************/
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
    font-size: 1.1rem;
}

}



/***************************************************************
****************************************************************
Animaciones
****************************************************************
***************************************************************/

/*****************************
Tabs
*****************************/
.r-tabs .r-tabs-accordion-title .r-tabs-anchor:hover{
background:white;
color:black;
border-radius: 1rem;
margin: 0.5rem;
}

/*****************************
Whatsapp Number
*****************************/
.whatsapp-number{
transition: 300ms ease all;
transition: all 0.3s cubic-bezier(0.77,0.2,0.05,1.0);  
}
.whatsapp-number:hover{
color: black;
background:white;
}

/*****************************
Ctrl Counter
*****************************/
.ctrl__counter-num.is-increment-hide {
opacity: 0;
-webkit-transform: translateY(-50px);
transform: translateY(-50px);
-webkit-animation: increment-prev 100ms ease-in;
animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
-webkit-animation: increment-next 100ms ease-out;
animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
opacity: 0;
-webkit-transform: translateY(50px);
transform: translateY(50px);
-webkit-animation: decrement-prev 100ms ease-in;
animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
-webkit-animation: decrement-next 100ms ease-out;
animation: decrement-next 100ms ease-out;
}

@-webkit-keyframes 
decrement-prev {  from {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

@keyframes 
decrement-prev {  from {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

@-webkit-keyframes 
decrement-next {  from {
opacity: 0;
-webkit-transform: translateY(-50px);
transform: translateY(-50px);
}
}

@keyframes 
decrement-next {  from {
opacity: 0;
-webkit-transform: translateY(-50px);
transform: translateY(-50px);
}
}

@-webkit-keyframes 
increment-prev {  from {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

@keyframes 
increment-prev {  from {
opacity: 1;
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

@-webkit-keyframes 
increment-next {  from {
opacity: 0;
-webkit-transform: translateY(50px);
transform: translateY(50px);
}
}

@keyframes 
increment-next {  from {
opacity: 0;
-webkit-transform: translateY(50px);
transform: translateY(50px);
}
}
