// icono de whatsapp
.socialWhatsapp{
  position: fixed;
  right: 0;
  top: 35%;
  background-color: white;
  border-radius: 25px  0 0 25px;
  z-index: 10;
}
.socialWhatsapp img{
  width: 30px;
  height: auto;
  padding: 1rem;
}
.socialWhatsapp:hover img{
  padding-right: 2rem;
  transition: .8s;
}