<div class="coonfirmPedidoContainerHome">

  <div class="main-wrapper confirmPedidoHome" *ngIf="personaOk">
    <p>
      Hola <b>{{persona.nombre}}</b>, estamos a un paso de finalizar. Por favor revisa tu
      pedido y haz <b>click en confirmar</b><br />
    </p>

    <p>
      Tu email es <b>{{persona.email}}</b>,<br />
      Tu telefono es <b>{{persona.telefono}}</b>,<br />
      Tu direccion es <b>{{persona.direccion}}</b>, <b *ngIf="persona.referencia">{{persona.referencia}}</b>.<br />
      Tu metodo de pago es <b>{{metodoPago}}</b>,<br />
      <ng-container *ngIf="observacion">

        Nos indicaste que: <b>{{observacion}}</b><br />
      </ng-container>

    </p>
    <h2>Pedido</h2>

    <div class="pedidos">
      <div class="resultadoproducto">
        <span class="cantidad">Cantidad</span><span class="titulo">Producto</span><span class="precio">Precio</span>
      </div>
      <div class="resultadoproducto resultadoproductoDetails" *ngFor="let producto of productosPedidos">
        <span class="cantidad">{{producto.cantidad}} x {{producto.unidad}}</span> <span
          class="titulo">{{producto.nombre}}</span><span class="precio"> S/ {{producto.total}}</span>
      </div>
      <div class="resultadoproducto resultadoproductoDetails">
        <span class="cantidad">1</span>
        <span class="titulo">Delivery a {{distrito}}</span>
        <span class="precio"> S/ 5.00</span>
      </div>
      <div class="resultadoproducto resultadoproductoDetails">
        <span class="cantidad"><strong>TOTAL</strong></span>
        <span class="titulo"></span>
        <span class="precio"><strong>S/ {{total}}</strong></span>
      </div>
    </div>


    <p></p>
    <div class="btnContainerConfirmar">

      <button mat-stroked-button class="cancelBtnConfirmar" (click)="goToBack()"
        [disabled]="btnState.disableBtn">Cancelar</button>
      <button mat-raised-button class="submitBtnConfirmar" (click)="goToFinish()" [disabled]="btnState.disableBtn">
        <ng-container *ngIf="btnState.normal">Confirmar Pedido</ng-container>
        <mat-spinner *ngIf="btnState.loader" color='warn' diameter="30"></mat-spinner>
        <mat-icon *ngIf="btnState.success" class="iconSuccessBtn" color='warn'>done </mat-icon>
      </button>

    </div>
  </div>
</div>