/****************************
*****************************
GENERAL
*****************************
****************************/

/****************************
*****************************
DIRECCION
*****************************
****************************/
.coonfirmPedidoContainerHome {
  width: 100%;
  display: grid;
  place-items: center;
}

.confirmPedidoHome {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
.confirmPedidoHome p{
  font-size: 1rem;
}
#datos,
#metodo_pago,
#botonenviar {
  width: 90%;
  max-width: 55rem;
  min-width: 10rem;
  margin: auto;
}
.btnContainerConfirmar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.btnContainerConfirmar .submitBtnConfirmar {
  display: grid;
  place-items: center;
  margin: 5%;
  width: 50%;
  height: 2.2em;
  font-size: 1.2rem;
  // font-size: 25px;
  color: whitesmoke;
  background-color: #f29038;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important ;
}
button:disabled {
  color: #989898 !important;
  background-color: #ececec !important;
  opacity: 0.9 !important;
}

.confirmar {
  // font-size: 1.5rem;
  background: green;
  width: 22rem;
  margin: 5rem auto;
  max-width: 95%;
}
.main-wrapper {
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}

.logo {
  max-width: 175px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/****************************
*****************************
PEDIDOS
*****************************
****************************/
.resultadoproducto {
  display: flex;
  padding: 1% 0;
}
.resultadoproducto:nth-child(even) {
  background: white;
}
.resultadoproducto:nth-child(1) {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
.resultadoproductoDetails{
  font-size: 1rem;
}
.resultadoproducto .cantidad {
  flex-basis: 20%;
}
.resultadoproducto .titulo {
  flex-basis: 60%;
  text-align: left;
}
.resultadoproducto .precio {
  flex-basis: 20%;
}
.totalproducto {
  text-align: right;
  font-weight: bold;
  // font-size: 1.1rem;
  background: none;
  padding: 0.3rem 0;
  padding-right: 0px;
  border-top: 1px solid var(--salamanto--color--border);
  justify-content: flex-end;
  padding-right: 1.5rem;
}
.boton-confirmar {
  margin-right: 0.5rem;
}
@media screen and (max-width: 600px) {
  form,
  #datos,
  #metodo_pago,
  #botonenviar {
    width: 100%;
  }
  .btnContainerConfirmar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .btnContainerConfirmar .submitBtnConfirmar {
    width: 90%;
  }
}
