<div class="containerCategoriasComponent">

    <h1>Unidades de Medida</h1>
    <mat-progress-bar class="progress-productos" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="headerTableCategorias" *ngIf="!loading">
        <div class="titleHeaderTable">ID</div>
        <div class="titleHeaderTableNombre">Nombre</div>
        <div class="titleHeaderTableNombre">Singular</div>
        <div class="titleHeaderTableNombre">Plural</div>
        <div class="titleHeaderTable">Productos</div>
        <div class="titleHeaderTable">Activo</div>
    </div>
    <div cdkDropListGroup class="example-list"  *ngIf="!loading">
        <div class="example-box" *ngFor="let categoria of listUnidadesTabla">
            <div class="listTableCategorias">
                <div class="titleHeaderTable">
                    {{categoria.id}}
                </div>
                <div class="titleHeaderTableNombre"><a
                        [routerLink]="['/unidadesdemedida/detallesUnidad',categoria.id]">{{categoria.nombre}}</a></div>
                <div class="titleHeaderTableNombre">{{categoria.singular}}</div>
                <div class="titleHeaderTableNombre">{{categoria.plural}}</div>
                <mat-chip-list cdkDropList [cdkDropListData]="categoria.productos" cdkDropListOrientation="horizontal" cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event,categoria,categoria.productos)"
                    aria-label="Fish selection">
                    <mat-chip *ngFor="let producto of categoria.productos" color="accent"
                        [selected]="producto.activo==1?true:false" cdkDrag>{{producto.nombre}}</mat-chip>
                </mat-chip-list>
                <div class="titleHeaderTable">
                    <mat-slide-toggle [(ngModel)]="categoria.activado" [disabled]="categoria.toggleDisable"
                        (change)="toggle(categoria)"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <a class="btnAddCategoria" [routerLink]="['/unidadesdemedida/nuevaUnidad']" mat-raised-button>Añadir Categoria +</a>
</div>