.headerHomeContainer {
  margin: 5% 0;
//   background-color: red;
  position: relative;
}
.headerHomeContainer img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.headerHomeContainer .titleHeaderHome{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    // font-size: 30px;
    color: whitesmoke;
    text-align: center;
    line-height : 35px;
}
